{% extends 'base.html.twig' %}
{% set page_title = 'buttons.forgot_password' | trans %}

{% block body %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">{{ 'buttons.forgot_password' | trans }}</h1>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" autocomplete="email" required autofocus>
            <label for="email">{{ 'fields.email_address.title' | trans }}</label>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">{{ 'buttons.reset_password' | trans }}</button>
    </form>
{% endblock %}
