<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/manifest.json">
        <title>{% if page_title is defined %}{{ page_title }} - {% endif %}{{ setting('habitatName', 'Habitat') }}</title>
        <link rel="icon" href="/build/images/habitat_icon.svg">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="px-4 text-center">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
