{% extends 'base.html.twig' %}
{% set page_title = 'Forgot password' %}

{% block body %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Forgot password</h1>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" autocomplete="email" required autofocus>
            <label for="email">Email address</label>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">Reset your password</button>
    </form>
{% endblock %}
