{% extends 'base.html.twig' %}
{% set page_title = 'Reset password' %}

{% block body %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
        {% if validation_failed is defined %}
            <div class="alert alert-danger">Your password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter</div>
        {% endif %}
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" autocomplete="password" required autofocus>
            <label for="password">Password</label>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">Reset your password</button>
    </form>
{% endblock %}
