body { padding-bottom: 80px; }
#map { height: 100%; }
.post-card a {
    text-decoration: none !important;
}

#drawer .active {
    color: var(--bs-blue) !important;
}

.comment.htmx-added {
  opacity: 0;
}
.comment {
  opacity: 1;
  transition: opacity 3s ease-out;
}
