body { 
  padding-top: 60px;
  padding-bottom: 80px; 
}

#map { height: 100%; }
.post-card a {
    text-decoration: none !important;
}

#drawer .active {
    color: var(--bs-blue) !important;
}

.comment.htmx-added, .post.htmx-added {
  opacity: 0;
}
.comment, .post {
  opacity: 1;
  transition: opacity 3s ease-out;
}

div.dropzone {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius-lg);
  color: var(--bs-blue);
}
