{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center display-1 mt-5">Page not found</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- Illustration by manypixels.co -->
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 120 500 320" xml:space="preserve" data-imageid="404-page-not-found-66" imageName="404 Page Not Found" class="illustrations_image">
            <style type="text/css">
                .st0_404-page-not-found-66{fill:#F9E48A;}
                .st1_404-page-not-found-66{opacity:0.63;fill:url(#SVGID_1_);enable-background:new;}
                .st2_404-page-not-found-66{opacity:0.63;fill:url(#SVGID_00000096753570814894400320000001500265541993376913_);enable-background:new;}
                .st3_404-page-not-found-66{fill:url(#SVGID_00000086656659462178533510000001747146287958044314_);}
                .st4_404-page-not-found-66{opacity:0.63;fill:url(#SVGID_00000067926482976476936390000005490654274655138982_);enable-background:new;}
                .st5_404-page-not-found-66{fill:#68E1FD;}
                .st6_404-page-not-found-66{opacity:0.61;fill:#34323D;enable-background:new;}
                .st7_404-page-not-found-66{fill:#BC532A;}
                .st8_404-page-not-found-66{fill:#34323D;}
                .st9_404-page-not-found-66{fill:#662D91;}
                .st10_404-page-not-found-66{fill:#FCBF81;}
                .st11_404-page-not-found-66{fill:#E55600;}
                .st12_404-page-not-found-66{fill:#2C9135;}
            </style>
            <path id="Base_404-page-not-found-66" class="st0_404-page-not-found-66" d="M34.7,251.9L206.5,152c2.5-1.5,5.6-1.5,8.1,0l256.9,147c3.9,2.2,5.2,7.2,3,11.1c-0.7,1.2-1.7,2.3-3,3&#xA;&#9;l-164.2,94.9c-8.2,4.7-18.3,4.7-26.5,0l-246-142c-3.9-2.3-5.2-7.2-2.9-11.1C32.5,253.6,33.5,252.6,34.7,251.9z"/>
            <g id="Shadow_404-page-not-found-66">
                
                    <linearGradient id="SVGID_1_-404-page-not-found-66" gradientUnits="userSpaceOnUse" x1="371.6229" y1="177.173" x2="383.8029" y2="206.033" gradientTransform="matrix(1 0 0 -1 0 502)">
                    <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
                    <stop offset="0.98" style="stop-color:#E9A900"/>
                </linearGradient>
                <path class="st1_404-page-not-found-66" d="M412.4,300.6c-2.4,2.2-3.7,1.8-7.6,5.4c-2.6,2.4-11.1,6.2-11.1,6.2s-18-8.9-26.2-13.7&#xA;&#9;&#9;c-14.5-8.6-11.7-7.4-21.7-12.2l-26.5,16.5l70.9,41l47.6-29.8C432.5,310.7,422.9,305.9,412.4,300.6z"/>
                
                    <linearGradient id="SVGID_00000138542911393248691080000000315466373756157087_-404-page-not-found-66" gradientUnits="userSpaceOnUse" x1="90.6235" y1="212.6728" x2="102.7935" y2="241.5327" gradientTransform="matrix(1 0 0 -1 0 502)">
                    <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
                    <stop offset="0.98" style="stop-color:#E9A900"/>
                </linearGradient>
                <path style="opacity:0.63;fill:url(#SVGID_00000138542911393248691080000000315466373756157087_);enable-background:new    ;" d="&#xA;&#9;&#9;M131.4,265.1c-2.4,2.2-3.7,1.9-7.6,5.4c-2.6,2.4-11.1,6.2-11.1,6.2s-18-8.9-26.2-13.7c-14.5-8.6-11.7-7.4-21.7-12.2l-26.5,16.5&#xA;&#9;&#9;l70.9,41l47.6-29.8C151.5,275.2,141.9,270.4,131.4,265.1z"/>
                
                    <linearGradient id="SVGID_00000109736681219424957420000006201621829981959046_-404-page-not-found-66" gradientUnits="userSpaceOnUse" x1="227.8371" y1="182.4512" x2="245.7471" y2="224.8712" gradientTransform="matrix(1 0 0 -1 0 502)">
                    <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
                    <stop offset="0.98" style="stop-color:#E9A900"/>
                </linearGradient>
                
                    <ellipse style="fill:url(#SVGID_00000109736681219424957420000006201621829981959046_);" cx="235.9" cy="300.6" rx="59.9" ry="29.2"/>
                
                    <linearGradient id="SVGID_00000113315365477313131770000004595130615600160171_-404-page-not-found-66" gradientUnits="userSpaceOnUse" x1="328.8849" y1="124.5622" x2="341.1749" y2="153.6821" gradientTransform="matrix(1 0 0 -1 0 502)">
                    <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
                    <stop offset="0.98" style="stop-color:#E9A900"/>
                </linearGradient>
                <path style="opacity:0.63;fill:url(#SVGID_00000113315365477313131770000004595130615600160171_);enable-background:new    ;" d="&#xA;&#9;&#9;M313.9,358.8c-1.6,3.3-1.4,7.3,0.6,10.4c2.1,3.6,5.5,6.2,9.5,7.4l38.3-24c-0.8,0.5-10.9-5.9-12-6.5c-3.3-1.7-10.9-7.6-14.6-6.7&#xA;&#9;&#9;c-6.2,1.4-12.8,8.8-17.1,13.1C316.5,354.3,315,356.5,313.9,358.8z"/>
            </g>
            <g id="_404_404-page-not-found-66">
                <path class="st5_404-page-not-found-66 targetColor" d="M308.1,200.2c-7-15.2-16.1-26.1-27.3-32.6c-8.8-5.1-16.7-6.2-23.9-3.5c-2.3,0.5-17.6,8.8-17.6,8.8h6.1&#xA;&#9;&#9;c-5.1,6.8-8.2,16.8-9.1,29.9c-1.4,16.9,1.5,33.8,8.6,49.2c7,15.3,16.1,26.1,27.3,32.6c4,2.4,8.4,4,13,4.7l-3,5.9&#xA;&#9;&#9;c0,0,13.9-5.4,19.7-10.3c8.6-6.2,13.6-18.1,14.9-35.7C318.1,232.6,315.2,215.6,308.1,200.2z M273.6,263.1&#xA;&#9;&#9;c-5.5-3.2-9.9-9.1-13.4-17.8s-4.8-18.9-3.9-30.7c0.9-11.7,3.5-19.7,8-23.8c4.5-4.1,9.4-4.6,14.9-1.4c5.5,3.1,9.9,9.1,13.4,17.8&#xA;&#9;&#9;s4.8,19,3.9,30.7c-0.9,11.8-3.5,19.7-8,23.8C284.1,265.7,279.1,266.2,273.6,263.1L273.6,263.1z" style="fill: rgb(104, 225, 253);"/>
                <path class="st6_404-page-not-found-66" d="M308.1,200.2c-7-15.2-16.1-26.1-27.3-32.6c-8.8-5.1-16.7-6.2-23.9-3.5c-2.3,0.5-17.6,8.8-17.6,8.8h6.1&#xA;&#9;&#9;c-5.1,6.8-8.2,16.8-9.1,29.9c-1.4,16.9,1.5,33.8,8.6,49.2c7,15.3,16.1,26.1,27.3,32.6c4,2.4,8.4,4,13,4.7l-3,5.9&#xA;&#9;&#9;c0,0,13.9-5.4,19.7-10.3c8.6-6.2,13.6-18.1,14.9-35.7C318.1,232.6,315.2,215.6,308.1,200.2z M273.6,263.1&#xA;&#9;&#9;c-5.5-3.2-9.9-9.1-13.4-17.8s-4.8-18.9-3.9-30.7c0.9-11.7,3.5-19.7,8-23.8c4.5-4.1,9.4-4.6,14.9-1.4c5.5,3.1,9.9,9.1,13.4,17.8&#xA;&#9;&#9;s4.8,19,3.9,30.7c-0.9,11.8-3.5,19.7-8,23.8C284.1,265.7,279.1,266.2,273.6,263.1L273.6,263.1z"/>
                <path class="st5_404-page-not-found-66 targetColor" d="M294.9,207.1c7,15.4,10,32.3,8.5,49.2c-1.3,17.6-6.3,29.4-14.9,35.7s-18.5,6.1-29.7-0.3&#xA;&#9;&#9;c-11.2-6.5-20.3-17.3-27.3-32.6c-7-15.4-10-32.4-8.6-49.2c1.3-17.6,6.3-29.4,14.9-35.6c8.6-6.2,18.5-6.1,29.7,0.4&#xA;&#9;&#9;C278.7,180.9,287.8,191.8,294.9,207.1z M275.3,268.5c4.5-4.1,7.1-12.1,8-23.8c0.9-11.7-0.4-22-3.9-30.7c-3.5-8.7-8-14.6-13.4-17.8&#xA;&#9;&#9;s-10.4-2.7-14.9,1.5c-4.5,4.1-7.1,12.1-8,23.8s0.4,22,3.9,30.7c3.5,8.7,8,14.7,13.4,17.8C265.8,273.1,270.8,272.6,275.3,268.5" style="fill: rgb(104, 225, 253);"/>
                <path class="st5_404-page-not-found-66 targetColor" d="M177.1,240.5l-10.8-6.2l5.4-71.4l-23.5-13.6l-13.2,6.8l3.9,2.2l-36.7,35.5l-1.8,24l44.3,25.6l-1.5,20l6.9,4&#xA;&#9;&#9;V282l13.3-6.8l0.6-7.8l11.7-6L177.1,240.5z M146.2,222.7l-25.5-14.7l28.8-28.6L146.2,222.7z" style="fill: rgb(104, 225, 253);"/>
                <path class="st6_404-page-not-found-66" d="M177.1,240.5l-10.8-6.2l5.4-71.4l-23.5-13.6l-13.2,6.8l3.9,2.2l-36.7,35.5l-1.8,24l44.3,25.6l-1.5,20l6.9,4&#xA;&#9;&#9;V282l13.3-6.8l0.6-7.8l11.7-6L177.1,240.5z M146.2,222.7l-25.5-14.7l28.8-28.6L146.2,222.7z"/>
                <path class="st5_404-page-not-found-66 targetColor" d="M153.1,241.1l10.7,6.2l-1.6,20.8l-10.8-6.2l-1.5,20l-20.1-11.6l1.5-20l-44.3-25.6l1.8-24.1l46.1-44.6&#xA;&#9;&#9;l23.5,13.6L153.1,241.1z M132.9,229.5l3.2-43.3l-28.8,28.6L132.9,229.5" style="fill: rgb(104, 225, 253);"/>
                <path class="st5_404-page-not-found-66 targetColor" d="M450.2,280.3l-10.8-6.2l5.4-71.4l-23.5-13.6l-13.3,6.8l3.9,2.2l-36.7,35.5l-1.8,24.1l44.3,25.6l-1.5,20l6.9,4&#xA;&#9;&#9;v14.5l13.3-6.8l0.6-7.8l11.7-6L450.2,280.3z M419.3,262.4l-25.5-14.7l28.8-28.6L419.3,262.4z" style="fill: rgb(104, 225, 253);"/>
                <path class="st6_404-page-not-found-66" d="M450.2,280.3l-10.8-6.2l5.4-71.4l-23.5-13.6l-13.3,6.8l3.9,2.2l-36.7,35.5l-1.8,24.1l44.3,25.6l-1.5,20l6.9,4&#xA;&#9;&#9;v14.5l13.3-6.8l0.6-7.8l11.7-6L450.2,280.3z M419.3,262.4l-25.5-14.7l28.8-28.6L419.3,262.4z"/>
                <path class="st5_404-page-not-found-66 targetColor" d="M426.1,280.9l10.8,6.2l-1.6,20.8l-10.8-6.2l-1.5,20l-20.1-11.6l1.5-20l-44.3-25.6l1.8-24l46.1-44.6l23.5,13.6&#xA;&#9;&#9;L426.1,280.9z M406,269.3l3.3-43.3l-28.8,28.6L406,269.3" style="fill: rgb(104, 225, 253);"/>
            </g>
            <g id="Magnifying_Glass_404-page-not-found-66">
                <path class="st7_404-page-not-found-66" d="M384,260.1l7.9,28.3c0,0-0.7,7.7-10.7,4.5l-6.8-29.9C374.4,263,375.9,256.4,384,260.1z"/>
                <path class="st8_404-page-not-found-66" d="M372.2,246.7l5,16.8c0,0,4.3,2.2,5.6-2l-4-16.4L372.2,246.7z"/>
                <path class="st8_404-page-not-found-66" d="M364.5,242.8c-10.2-8.8-14.9-22.4-12.2-35.7c1.6-6.3,5.2-10.7,10.1-12.4l0,0c9.9-3.4,21.6,5.3,26.6,19.8&#xA;&#9;&#9;s1.1,28.5-8.9,31.9c-2.6,0.9-5.3,1-7.9,0.3C369.3,246,366.7,244.7,364.5,242.8z M364.2,200.1c-3.1,1.1-5.4,4-6.5,8.4&#xA;&#9;&#9;c-2.1,11,1.8,22.4,10.2,29.8c3.5,2.8,7.2,3.7,10.2,2.7c6.7-2.3,9.1-13.6,5.3-24.6c-3-8.6-8.9-15-14.6-16.4&#xA;&#9;&#9;C367.4,199.6,365.8,199.6,364.2,200.1L364.2,200.1z"/>
                <path class="st8_404-page-not-found-66" d="M370.4,202.6c-1.5-1.1-4.8,0.7-5.9,1.7c-8.8,8.2-4.6,23.7,3,31.5c2.9,2.9,9.6,7,12.1,5.3c0,0-11,7.4-18.9-0.8&#xA;&#9;&#9;s-9.7-24.1-9.7-24.1l0.5-8.4l2.9-5.6l2.9-3.1l7.2-0.8L370.4,202.6z"/>
                <path class="st9_404-page-not-found-66" d="M361.8,243.6c-10.2-8.8-14.9-22.4-12.2-35.6c1.6-6.3,5.2-10.7,10.1-12.4l0,0c9.9-3.4,21.6,5.3,26.6,19.8&#xA;&#9;&#9;s1.1,28.5-8.9,31.9c-2.6,0.9-5.3,1-7.9,0.3C366.7,246.8,364,245.4,361.8,243.6z M361.5,200.9c-3.1,1.1-5.4,4-6.5,8.4&#xA;&#9;&#9;c-2.1,11,1.8,22.4,10.2,29.8c3.5,2.8,7.2,3.7,10.2,2.7c6.7-2.3,9.1-13.6,5.3-24.7c-2.9-8.6-8.9-15-14.6-16.4&#xA;&#9;&#9;C364.7,200.4,363.1,200.4,361.5,200.9z"/>
            </g>
            <g id="Character_404-page-not-found-66">
                <path class="st10_404-page-not-found-66" d="M357.2,245.5c0.2-0.4,0.4-0.8,0.6-1.2c0,0,0,0,0,0.1c0,0.1,0.1,0.1,0.2,0.1c0,0,0.1,0,0.1-0.1l0.4-0.6&#xA;&#9;&#9;c0,0.1,0,0.2,0,0.2c0.1,0.3,0.4,0.6,0.7,0.5c0.4,0,0.6-0.3,0.6-0.7c0,0,0-0.1,0-0.1c0.1-0.1,0.1-0.1,0.2-0.2c0,0.1,0,0.1,0,0.2&#xA;&#9;&#9;c0.1,0.3,0.4,0.5,0.7,0.4c0.1,0,0.2-0.1,0.2-0.1c0.1-0.1,0.1-0.1,0.2-0.2c0.1,0.1,0.3,0.1,0.4,0c0.6-0.2,1.1-0.4,1.6-0.7&#xA;&#9;&#9;c-0.1-0.1-0.2-0.2-0.1-0.3c0,0,0,0,0-0.1c0.6-0.5,1.3-1,2-1.4h0.1c0,0,0,0,0-0.1c0.2-0.5,0.1-1.1-0.1-1.6c0.3-0.4,0.5-1,0.4-1.5&#xA;&#9;&#9;c-0.1,0-0.1,0-0.1-0.1c-0.1-0.1-0.2-0.2-0.2-0.3c-0.1-0.2-0.2-0.3-0.3-0.5c0-0.1,0-0.2,0.1-0.2c-0.3-0.3-0.5-0.7-0.8-1&#xA;&#9;&#9;c0.7-1.1,1-2.4,0.9-3.7c0-0.3-0.3-0.5-0.6-0.5c-0.1,0-0.3,0.1-0.4,0.2c-0.3,0.4-0.5,0.8-0.7,1.3c-0.1,0-0.1,0.1-0.2,0.2&#xA;&#9;&#9;c-1.1,2.3-2.3,4.4-3.6,6.6c-0.2,0.4-3,4.2-2.7,4.3C356.6,244.6,354.4,249.8,357.2,245.5z M358.8,243.9L358.8,243.9&#xA;&#9;&#9;c0.1,0.1,0.2,0.1,0.2,0c0,0,0,0,0,0l0,0c0.1,0.1,0.3,0.1,0.5,0.1c0,0.2-0.2,0.3-0.4,0.3C359,244.3,358.8,244.2,358.8,243.9&#xA;&#9;&#9;C358.8,243.9,358.8,243.9,358.8,243.9L358.8,243.9z"/>
                <path class="st10_404-page-not-found-66" d="M357.5,244.3c0.6-0.5,1.1-1,1.5-1.7c0.3-0.6,1-0.8,1.6-0.5c0,0,0,0,0,0c0-0.3,0.1-0.6,0.1-0.9&#xA;&#9;&#9;c0-0.7,0.6-1.2,1.2-1.2c0.7,0,1.2,0.5,1.2,1.2c0.1,1.2-0.3,2.5-1,3.5c-0.7,0.9-1.6,1.7-2.7,2.4c-0.6,0.3-1.4,0.1-1.7-0.5&#xA;&#9;&#9;c-0.1-0.2-0.1-0.3-0.2-0.5l-0.1-0.1C357,245.5,357,244.8,357.5,244.3z"/>
                <path class="st8_404-page-not-found-66" d="M361.4,245.2c1-0.7,1.8-1.7,2.1-2.9c0.1,0.1,0.1,0.1,0.2,0c0,0,0,0,0,0l1-0.7c0.2-0.1,0.4-0.3,0.5-0.4&#xA;&#9;&#9;c0.4-0.5,0-1-0.1-1.4c0,0,0-0.1-0.1-0.1l0.1-0.2c0.2-0.4,0.4-0.8,0.4-1.2c-0.1-0.4-0.5-0.7-0.7-1.1c0-0.4-0.2-0.8-0.6-1&#xA;&#9;&#9;c-0.5-0.2-0.8,0.2-1.1,0.5c-0.6,0.8-1.2,1.7-1.7,2.5c-0.1,0.2,0.2,0.3,0.3,0.1c0.3-0.5,0.6-0.9,0.9-1.4s0.7-1.2,1-1.4&#xA;&#9;&#9;c1.1-0.6,0.9,0.9,0.7,1.3c-0.1,0.2-0.2,0.4-0.4,0.7c-0.3,0.5-0.5,1-0.8,1.5l0,0c0,0,0,0.1,0,0.1c0.5,1.8-0.3,3.8-1.9,4.8&#xA;&#9;&#9;C361.1,245.1,361.2,245.4,361.4,245.2z M363.6,240.2c0,0-0.1,0-0.2,0c0,0,0-0.1,0-0.1c0.5-0.8,1-1.6,1.3-2.5&#xA;&#9;&#9;c0.1,0.1,0.2,0.2,0.2,0.3c0.2,0.3,0.2,0.7,0.1,1C364.9,239.5,364.3,240.6,363.6,240.2L363.6,240.2z M363.5,242.1&#xA;&#9;&#9;c0.1-0.5,0.1-1.1,0-1.6c0.5,0.3,1-0.1,1.3-0.5c0.1,0.2,0.2,0.4,0.2,0.6c0.1,0.3-0.1,0.6-0.3,0.7&#xA;&#9;&#9;C364.3,241.6,363.9,241.9,363.5,242.1L363.5,242.1z"/>
                <path class="st11_404-page-not-found-66" d="M343.9,250.2c0,0,7.2,0.3,9-1.4s4.6-7.1,4.6-7.1s4.9,3.2,5.2,5s-5.1,10.6-7.5,11.2"/>
                <path class="st11_404-page-not-found-66" d="M333,338.5c0,0,6-2.7,7.5-2.8s3.9,0.4,1.8,3.1c0,0-6.4,4.2-7.2,4.3s-2.9-0.5-2.9-0.3s-0.2,1.8-0.2,1.8&#xA;&#9;&#9;s-5.3,2-5.6-1.5c0-0.5,0.8-7.1,0.8-7.1"/>
                <path class="st8_404-page-not-found-66" d="M326.1,322.9c1-6.9,3-13.5,3.8-20.4c0.5-4.4,0.9-8.7,1.4-13.1s2.2-8.6,3.2-12.9c0.1-0.2,0-0.4-0.2-0.5&#xA;&#9;&#9;c0-0.2,0.1-0.3,0.1-0.5c0.5-0.5,1.1-1,1.6-1.5l7.4,5c0,0,0,4.5-0.3,11.1c-0.9,3.9-1.5,7.3-2.5,10.9c0.2,0.2,0.3,0.6,0.2,0.9&#xA;&#9;&#9;c-2.4,11.5-4.2,23.1-5.3,34.8c0,0.4-0.3,0.7-0.7,0.9l-0.2,1.8c-6.5,2.5-7.9-1.9-7.9-1.9s-0.3-3.7-0.7-8.9&#xA;&#9;&#9;C326.1,326.8,326,324.8,326.1,322.9z"/>
                <path class="st10_404-page-not-found-66" d="M380.8,253.1c-0.4,0.2-0.8,0.5-1.3,0.8c0.6-0.8,1.2-1.7,1.7-2.6c0.5-0.8-0.7-1.5-1.3-0.9&#xA;&#9;&#9;c-1.6,1.8-3.4,3.5-5.3,5c-0.1,0.1-0.2,0.1-0.2,0.2h-1.2c-0.3,0-0.7,0-1,0H372c-0.2,0-0.5,0-0.6,0.2c-0.2,0.1-0.3,0.1-0.4,0.2&#xA;&#9;&#9;c0,0-0.1,0.1-0.1,0.1c-0.4,0-0.8,0.1-1.1,0.1c-0.5,0.1-0.8,0.5-0.7,1c0,0.1,0,0.2,0.1,0.2c-0.1,0-0.1-0.1-0.2-0.1&#xA;&#9;&#9;c-0.9-0.5-1.5,0.9-0.7,1.4c1.8,1.1,3.9,1.7,6,1.7c0.2,0.1,0.4,0.2,0.7,0.1l0.4-0.1c1.8-0.1,3.6-0.5,5.3-1.1&#xA;&#9;&#9;c0.5-0.2,0.9-0.3,1.4-0.3l0,0C381.6,257,381.2,255.1,380.8,253.1z"/>
                <path class="st11_404-page-not-found-66" d="M346.3,348.4l3.6,1.3c0.2,0.7,0.8,1.2,1.5,1.3c0.1,0.2,0.3,0.2,0.5,0.3c1.5,0.1,2.9-0.1,4.3-0.7&#xA;&#9;&#9;c1.7-0.5,8.4-3.1,6.6,1.7c-1.2,0.9-2.6,1.6-3.9,2.4c-0.7,0.4-1.4,0.9-2.1,1.2c-0.4,0.3-0.8,0.5-1.3,0.6c-1,0.1-3.3-0.6-3.4-0.3&#xA;&#9;&#9;s-0.3,2.1-0.3,2.1s-6.1,2.3-6.4-1.8C345.3,356,346.3,348.4,346.3,348.4z"/>
                <path class="st8_404-page-not-found-66" d="M341.2,311.6c-0.7-12.1-1.2-24.2-3.7-36.1c-0.1-3.1-2.1-1.1-2-2.3c1.1-9.9,15.6,1.9,15.6,1.9&#xA;&#9;&#9;c0.6,0.5,0.6,3.5,0.8,4.2c0.7,3.8,1.2,7.7,1.7,11.5c2.4,19.4,1.5,38.7,0.5,58.2c-3.1,3.1-5.1,4.1-10.1,2c-1-12.8-1.9-25.5-2.8-38.3&#xA;&#9;&#9;C341.2,312.4,341.2,312,341.2,311.6z"/>
                <path class="st11_404-page-not-found-66" d="M349,251.5c-0.1-0.6-1.8-1-2.2-1.3c-1.1-0.6-0.5-1.7-1.6-2.3c-1.6-0.9-3.3-1.7-5-2.4l0,0&#xA;&#9;&#9;c-2.8,0-7.4-0.1-7.6,3.5c-0.3,5.6-0.1,11.3,0.5,16.9c0.2,2.3,0.4,4.5,0.6,6.7c0.1,0.8,0.2,7.3,0.7,7.5c5.5,2.3,12.4,1.5,17.8-0.7&#xA;&#9;&#9;C351.7,270.1,350.7,260.7,349,251.5z"/>
                <path class="st8_404-page-not-found-66" d="M344,257.2c0.3,3.9,3,7.1,6.8,8.1c0,0.4,0.1,2.7,0.1,3c-4.4-1-7.6-6.5-8-11.1C342.9,256.5,344,256.5,344,257.2&#xA;&#9;&#9;z"/>
                <path class="st10_404-page-not-found-66" d="M341.4,234c0.4,0.1,3.4,7.1,2.2,11.4s-8.4-0.1-10.2-3.4S334.5,232.2,341.4,234z"/>
                <path class="st8_404-page-not-found-66" d="M341.3,235c0,1.3-0.8,2.5-2,3.1c-2,0.8-3.7,1.2-3.6,2.2s3.7-0.1,3.7,2c0,1.4-0.2,2.9-0.6,4.3&#xA;&#9;&#9;c-0.2,1.1-6.3-2.2-8.3-7.7s3-7,3.3-7c0.8-1.1,1.9-1.8,3.2-2.1c2.5-0.5,3.1,0.4,3.1,0.4c1.1-0.7,2.6-0.5,3.6,0.4&#xA;&#9;&#9;c2.3,1.8,1.7,5.1-0.9,6.4L341.3,235z"/>
                <path class="st11_404-page-not-found-66" d="M344,247.3c0,0,12.5,7.2,17,7.2c4.4-0.3,8.7-0.8,13-1.6c3.1,2.6,3.3,7.2,1.4,10.7c-5.5,0.9-21.6,3.2-26.7,0.7&#xA;&#9;&#9;c-6.1-3-12.9-7.1-12.9-7.1S329.7,251.1,344,247.3z"/>
                <path class="st10_404-page-not-found-66" d="M379.6,253.9c0,0,1.9-1.5,2.4-1.2c1,1.3,1.5,2.9,1.5,4.5c-0.2,1.5-1,2.9-4.8,2.8"/>
            </g>
            <g id="Trees_404-page-not-found-66">
                <path class="st7_404-page-not-found-66" d="M208.5,282.9h3.5c1.1,0,2,0.9,2,2v45.9c0,1.1-0.9,2-2,2h-3.5c-1.1,0-2-0.9-2-2v-45.9&#xA;&#9;&#9;C206.5,283.8,207.4,282.9,208.5,282.9z"/>
                <path class="st12_404-page-not-found-66" d="M228.9,293.1c-1.7-7.5-9.4-40.8-23.1-31c-7,5-9,12.8-11.8,20.5c-2.3,6.3-4.2,13-4.4,19.8&#xA;&#9;&#9;c-0.2,13.8,13.8,15.5,24.6,15.5c6.2,0,15-3.7,16.5-10.4c0.9-4.1-0.6-8.9-1.5-12.8C229.1,294.1,229,293.6,228.9,293.1z"/>
                <path class="st6_404-page-not-found-66" d="M229.6,294.6l-0.3-1.5c-1.5-6.7-7.8-33.4-18.6-32.8c3.2,14.1,8,29,5.4,43.4c-0.8,5-2.8,9.8-5.8,14&#xA;&#9;&#9;c1.4,0.1,2.9,0.1,4.2,0.1c6.2,0,15.1-3.7,16.5-10.4C231.9,303.4,230.4,298.6,229.6,294.6z"/>
                <path class="st7_404-page-not-found-66" d="M205.8,153.3h2.9c1,0,1.7,0.8,1.7,1.7v39.1c0,1-0.8,1.7-1.7,1.7h-2.9c-1,0-1.7-0.8-1.7-1.7v-39.1&#xA;&#9;&#9;C204,154.1,204.8,153.3,205.8,153.3z"/>
                <path class="st12_404-page-not-found-66" d="M223.1,162c-1.5-6.4-8.1-34.7-19.7-26.4c-6,4.3-7.6,10.9-10,17.4c-2,5.4-3.6,11.1-3.7,16.9&#xA;&#9;&#9;c-0.2,11.8,11.8,13.2,21,13.2c5.3,0,12.8-3.1,14.1-8.9c0.7-3.5-0.5-7.5-1.3-10.9C223.3,162.9,223.2,162.4,223.1,162z"/>
                <path class="st6_404-page-not-found-66" d="M223.6,163.3c-0.1-0.4-0.2-0.8-0.3-1.2c-1.3-5.7-6.6-28.5-15.9-27.9c2.8,12,6.8,24.7,4.6,37&#xA;&#9;&#9;c-0.7,4.3-2.4,8.4-4.9,11.9c1.2,0.1,2.4,0.1,3.6,0.1c5.3,0,12.8-3.1,14-8.9C225.7,170.7,224.4,166.7,223.6,163.3z"/>
            </g>
            </svg>
        </div>
        <p class="text-center fs-2 lead">We can't seem to find it</p>
        <p class="text-center lead">Are you sure this is the right URL? Perhaps we deleted it.</p>
        <p class="text-center">
            <a class="btn btn-lg btn-outline-primary" href="{{ path('app_index_index') }}">Go back home</a>
        </p>
    </div>
{% endblock %}
