body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.bg-super-dark {
  background-color: #171a1d;
}

@include media-breakpoint-down(md) {
  body {
    padding-bottom: 80px;
  }
}

#map { height: 100%; }
.post-card a {
    text-decoration: none !important;
}

.drawer-padding {
  padding-bottom: 80px;
}

.comment.htmx-added, .post.htmx-added {
  opacity: 0;
}
.comment, .post {
  opacity: 1;
  transition: opacity 3s ease-out;
}

div.dropzone {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius-lg);
  color: var(--bs-primary);
}

.form-switch.form-switch-lg {
  margin-bottom: 1.5rem;
}

.form-switch.form-switch-lg .form-check-input {
  height: 2rem;
  width: calc(3rem + 0.75rem);
  border-radius: 4rem;
}

[data-bs-theme="dark"] {
    .text-primary {
        color: rgb(116, 176, 214) !important;
    }

    .nav-pills .nav-link.active {
        background-color: rgb(116, 176, 214);
        color: #171a1d;
    }

    .btn-primary {
        background-color: rgb(116, 176, 214);
        border-color: rgb(116, 176, 214);
        color: #171a1d;
    }

    .btn-primary:first-child:active,
    .btn-outline-primary:first-child:active,
    .btn-primary:focus-visible,
    .btn-outline-primary:focus-visible {
        background-color: rgb(65, 147, 199) !important;
    }

    .page-link.active, .active > .page-link {
        background-color: rgb(116, 176, 214);
        color: #171a1d;
    }

    .btn-outline-primary {
        border-color: rgb(116, 176, 214);
        color: rgb(116, 176, 214);
    }

    .btn-outline-primary:hover {
        background-color: rgb(116, 176, 214);
        color: #171a1d;
    }

    .dropdown-item:active {
        background-color: rgb(116, 176, 214);
        color: #171a1d;
    }

    div.dropzone {
        color: rgb(116, 176, 214);
    }

    .form-check-input:checked {
        background-color: rgb(116, 176, 214);
        border-color: rgb(116, 176, 214);
    }

    .form-switch .form-check-input:checked {
        background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23171a1d%27/%3e%3c/svg%3e");
    }

    .form-check-input:checked[type="checkbox"] {
        background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23171a1d%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
    }
}

.min-height-100 {
  min-height: 100px;
}

.tiptap p.is-editor-empty:first-child::before {
  color: rgba(var(--bs-body-color-rgb), 0.65);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
