{% extends 'base.html.twig' %}

{% block sidebar %}
    <div class="col-sm-3 order-first order-md-last">
        <ul class="nav nav-pills flex-column mb-3">
            <li class="nav-item">
                <a class="nav-link{% if app.request.get('_route') == 'app_admin_index' %} active{% endif %}"{% if app.request.get('_route') == 'app_admin_index' %} aria-current="page"{% endif %} href="{{ path('app_admin_index') }}">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if app.request.get('_route') starts with 'app_moderation' %} active{% endif %}"{% if app.request.get('_route') == 'app_moderation_users' %} aria-current="page"{% endif %} href="{{ path('app_moderation_users') }}">Moderation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if app.request.get('_route') == 'app_admin_categories' %} active{% endif %}"{% if app.request.get('_route') == 'app_admin_categories' %} aria-current="page"{% endif %} href="{{ path('app_admin_categories') }}">Categories</a>
            </li>
        </ul>
    </div>
{% endblock %}
