<VirtualHost *:80>
    ServerName {{ domain }}
    DocumentRoot {{ document_root }}

    <Directory {{ document_root }}>
        AllowOverride All
        Require all granted
    </Directory>

    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</VirtualHost>
