<!doctype html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/manifest.json">
        <title>Habitat</title>
        <link rel="icon" href="/build/images/habitat_icon.svg">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1 class="text-center display-1 mt-5">Whoopsy!</h1>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <!-- Illustration by manypixels.co -->
                    <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 50 500 400" xml:space="preserve" data-imageid="under-constructions-65" imageName="Under Constructions" class="illustrations_image">
                    <style type="text/css">
                        .st0_under-constructions-65{fill:#FCC054;}
                        .st1_under-constructions-65{fill:url(#SVGID_1_);}
                        .st2_under-constructions-65{fill:url(#SVGID_00000150100233906197335750000008363544730187073977_);}
                        .st3_under-constructions-65{fill:url(#SVGID_00000169552959926910125750000006769792455402310064_);}
                        .st4_under-constructions-65{fill:#FFFFFF;}
                        .st5_under-constructions-65{fill:#68E1FD;}
                        .st6_under-constructions-65{fill:#053855;}
                        .st7_under-constructions-65{opacity:0.1;fill:#053855;enable-background:new;}
                        .st8_under-constructions-65{fill:#B24800;}
                        .st9_under-constructions-65{fill:#DF5D00;}
                        .st10_under-constructions-65{fill:#FF8522;}
                        .st11_under-constructions-65{opacity:0.15;fill:#FF8522;enable-background:new;}
                        .st12_under-constructions-65{fill:#494443;}
                        .st13_under-constructions-65{fill:#666666;}
                        .st14_under-constructions-65{opacity:0.5;fill:#053855;enable-background:new;}
                    </style>
                    <path id="Base_under-constructions-65" class="st0_under-constructions-65" d="M29.7,287.4l234.8,135.9c9.9,5.7,22.1,5.7,32.1,0l165-94.8c7-4,9.4-12.9,5.4-19.9&#xA;&#9;c-1.3-2.2-3.1-4.1-5.4-5.4L216.1,161.5L29.9,265c-6.2,3.5-8.5,11.3-5,17.5C26.1,284.6,27.7,286.3,29.7,287.4z"/>
                    <g id="Shadow_under-constructions-65">
                        
                            <linearGradient id="SVGID_1_-under-constructions-65" gradientUnits="userSpaceOnUse" x1="323.7291" y1="155.931" x2="286.9491" y2="122.411" gradientTransform="matrix(1 0 0 -1 0 502)">
                            <stop offset="0" style="stop-color:#F7931E"/>
                            <stop offset="1" style="stop-color:#FCC054"/>
                        </linearGradient>
                        <path class="st1_under-constructions-65" d="M339.9,365.7l-39.5-18.9L253.2,376c2.7,2,16.3,7.5,37.6,21.4C309.4,385.1,314.8,382.1,339.9,365.7z"/>
                        
                            <linearGradient id="SVGID_00000103954543383698702310000004508756775011152522_-under-constructions-65" gradientUnits="userSpaceOnUse" x1="372.4993" y1="192.4503" x2="344.6794" y2="163.6903" gradientTransform="matrix(1 0 0 -1 0 502)">
                            <stop offset="0" style="stop-color:#F7931E"/>
                            <stop offset="1" style="stop-color:#FCC054"/>
                        </linearGradient>
                        <path style="fill:url(#SVGID_00000103954543383698702310000004508756775011152522_);" d="M409.6,317.2l-39-25.2L312,326.1&#xA;&#9;&#9;c2.7,2,20,13.2,41.3,27C371.9,340.9,391.3,330,409.6,317.2z"/>
                        
                            <linearGradient id="SVGID_00000116237007026079452190000005198972239339221392_-under-constructions-65" gradientUnits="userSpaceOnUse" x1="180.5268" y1="213.4722" x2="143.9668" y2="160.9722" gradientTransform="matrix(1 0 0 -1 0 502)">
                            <stop offset="0" style="stop-color:#F7931E"/>
                            <stop offset="1" style="stop-color:#FCC054"/>
                        </linearGradient>
                        <path style="fill:url(#SVGID_00000116237007026079452190000005198972239339221392_);" d="M197.9,384.9l63.7-39.4l-150.1-85.1&#xA;&#9;&#9;l-59.4,39.5C60.4,305.2,192.3,378.9,197.9,384.9z"/>
                    </g>
                    <g id="Laptop_under-constructions-65">
                        <polyline class="st4_under-constructions-65" points="97.5,271.4 97.5,275.9 99.7,278.7 &#9;"/>
                        <path class="st5_under-constructions-65 targetColor" d="M187.4,217L100,271.1c-2.5,1.6-3.3,4.9-1.7,7.4c0.5,0.8,1.1,1.4,1.9,1.9l132.5,75c3.8,2.1,8.4,2.1,12.1-0.1&#xA;&#9;&#9;l86.9-51.1c6.3-5.2,5.8-15-0.1-15.4L200,216.8C196.1,214.5,191.2,214.6,187.4,217z" style="fill: rgb(104, 225, 253);"/>
                        <path class="st4_under-constructions-65" d="M187.4,213.2L100,267.4c-2.5,1.6-3.3,4.9-1.7,7.4c0.5,0.8,1.1,1.4,1.9,1.9l132.5,74.9&#xA;&#9;&#9;c3.8,2.1,8.4,2.1,12.1-0.1l86.9-51.1c3.2-1.9,4.3-6,2.4-9.2c-0.6-1-1.4-1.8-2.5-2.4L200,213C196.1,210.7,191.2,210.8,187.4,213.2z"/>
                        <path class="st6_under-constructions-65" d="M190.9,205.9c0,0,36.3-117,36-117s1.1-5.2,7.6-2.3l139.2,81.9c0,0,6.7,2.7,5.4,9S343.7,292,343.7,292&#xA;&#9;&#9;c-1.5,2.1-4.1,3-6.6,2.3c-4.2-1.3-143-81.9-143-81.9S189.6,210.7,190.9,205.9z"/>
                        <polygon class="st5_under-constructions-65 targetColor" points="229.2,97.3 371.8,180.4 342.2,279.6 197.9,199 &#9;" style="fill: rgb(104, 225, 253);"/>
                        <path class="st5_under-constructions-65 targetColor" d="M182,225.6l-31.9,19.9c-1.8,1.1-2.4,3.5-1.2,5.3c0.3,0.5,0.8,1,1.4,1.3l114.6,65.3c3.5,2,7.8,2,11.3,0&#xA;&#9;&#9;c7.4-4.3,20-12,27.8-16.8c2.2-1.4,2.9-4.3,1.5-6.4c-0.4-0.6-0.9-1.2-1.6-1.6c-23.2-13.5-98.8-57.4-115.3-67.1&#xA;&#9;&#9;C186.4,224.4,184,224.4,182,225.6z" style="fill: rgb(104, 225, 253);"/>
                        <path class="st5_under-constructions-65 targetColor" d="M183.7,279.6l40,22.5c1.9,1.1,2.6,3.5,1.5,5.5c-0.3,0.6-0.8,1.1-1.5,1.5l-23.5,13.8c-1.6,1-3.7,1-5.3,0&#xA;&#9;&#9;l-41-23.4c-1.6-0.9-2.2-3-1.2-4.6c0.3-0.5,0.7-0.9,1.2-1.2l24.5-14.1C180,278.7,182.1,278.7,183.7,279.6z" style="fill: rgb(104, 225, 253);"/>
                        <path class="st7_under-constructions-65" d="M182,225.6l-31.9,19.9c-1.8,1.1-2.4,3.5-1.2,5.3c0.3,0.5,0.8,1,1.4,1.3l114.6,65.3c3.5,2,7.8,2,11.3,0&#xA;&#9;&#9;c7.4-4.3,20-12,27.8-16.8c2.2-1.4,2.9-4.3,1.5-6.4c-0.4-0.6-0.9-1.2-1.6-1.6c-23.2-13.5-98.8-57.4-115.3-67.1&#xA;&#9;&#9;C186.4,224.4,184,224.4,182,225.6z"/>
                        <path class="st7_under-constructions-65" d="M183.7,279.6l40,22.5c1.9,1.1,2.6,3.5,1.5,5.5c-0.3,0.6-0.8,1.1-1.5,1.5l-23.5,13.8c-1.6,1-3.7,1-5.3,0&#xA;&#9;&#9;l-41-23.4c-1.6-0.9-2.2-3-1.2-4.6c0.3-0.5,0.7-0.9,1.2-1.2l24.5-14.1C180,278.7,182.1,278.7,183.7,279.6z"/>
                    </g>
                    <g id="Cone_under-constructions-65">
                        <path class="st8_under-constructions-65" d="M390.1,328.6l33.7-20c2.4-1.5,3.3-4.6,1.8-7.1c-0.4-0.7-1-1.3-1.6-1.7l-27.9-18.1c-2.9-1.9-6.7-1.9-9.5,0.1&#xA;&#9;&#9;l-33.1,22.3c-2.4,1.6-3,4.8-1.4,7.2c0.4,0.6,1,1.1,1.6,1.5l26.4,15.8C383.2,330.4,387,330.4,390.1,328.6z"/>
                        <path class="st9_under-constructions-65" d="M390.1,325.6l33.7-20c2.5-1.5,3.3-4.6,1.8-7.1c-0.4-0.7-1-1.3-1.6-1.7l-27.9-18.1c-2.9-1.9-6.7-1.9-9.5,0.1&#xA;&#9;&#9;L353.5,301c-2.4,1.6-3,4.8-1.4,7.2c0.4,0.6,1,1.1,1.6,1.5l26.4,15.8C383.1,327.4,387,327.4,390.1,325.6z"/>
                        <path class="st10_under-constructions-65" d="M384.5,245.4L366.6,302c0,0-4.4,14.4,22.5,13s23.3-14.8,23.3-14.8l-17.9-54.8"/>
                        <path class="st4_under-constructions-65" d="M377.9,266.4c0,0,3.6,3.7,11.7,3.7c10.2,0,11.3-5,11.3-5l3.8,11.5c0,0-2.7,6.5-15.1,6.2&#xA;&#9;&#9;c-11.2-0.2-15.6-4.2-15.6-4.2"/>
                        <path class="st4_under-constructions-65" d="M371.2,288c4.9,4.7,11.4,7.3,18.1,7.2c13.3-0.2,18.3-9.6,18.3-9.6l4,12.1c0,0-5.7,8.9-22.1,10&#xA;&#9;&#9;c-15.5,1.1-22.1-7.5-22.1-7.5"/>
                        <path class="st11_under-constructions-65" d="M388.4,245.8h-3.8l-17.9,56.6c0,0-4.1,13.4,19.8,13C387,292.2,388.1,269,388.4,245.8z"/>
                        <ellipse class="st0_under-constructions-65" cx="389.6" cy="245.8" rx="5.1" ry="2.9"/>
                    </g>
                    <g id="Barricade_under-constructions-65">
                        <polyline class="st9_under-constructions-65" points="255.1,260.3 259.3,257.8 259.3,243 154.1,179.7 149.1,181.7 &#9;"/>
                        <polyline class="st8_under-constructions-65" points="188.7,259 188.7,265.3 152.2,286.5 141.2,279.9 140.4,272.2 &#9;"/>
                        <polygon class="st10_under-constructions-65" points="176.8,251.1 140.4,272.2 151.5,280 188.7,259 &#9;"/>
                        <polyline class="st8_under-constructions-65" points="265,304.5 265,310.8 228.5,332 217.5,325.4 216.6,317.7 &#9;"/>
                        <polygon class="st10_under-constructions-65" points="253.1,296.6 216.6,317.7 227.8,325.5 265,304.5 &#9;"/>
                        <path class="st9_under-constructions-65" d="M167.1,205.8v60.8c0,0-1.8,3.2-8,0v-64"/>
                        <path class="st9_under-constructions-65" d="M245.9,250.8v60.8c0,0-1.8,3.2-8,0v-64"/>
                        <polygon class="st10_under-constructions-65" points="255.1,244.3 255.1,260.3 149.1,198.6 149.1,181.7 &#9;"/>
                    </g>
                    <g id="Hammer_under-constructions-65">
                        <polygon class="st12_under-constructions-65" points="332.4,369.5 332.4,359.5 339.9,355.8 339.9,365.7 &#9;"/>
                        <polygon class="st13_under-constructions-65" points="339.9,355.8 304.5,336.6 297.3,340.9 332.4,359.5 &#9;"/>
                        <polyline class="st12_under-constructions-65" points="297.3,340.9 297.3,351.8 332.4,369.5 332.4,359.5 &#9;"/>
                        <path class="st5_under-constructions-65 targetColor" d="M322,360.9c-0.2-0.5-0.4-1-0.7-1.4c-0.9-1.1-1.9-2-3.1-2.8c-1.1-0.6-2.3-1.2-3.4-1.9c-0.6-0.4-1.3-0.8-1.9-1.2&#xA;&#9;&#9;s-1.5-0.7-2.3-1c-1.8-0.5-4,1.2-5.6,2.1l-6.5,3.7l-9.9,5.6l-11.7,6.6l-12,6.8l-10.9,6.1l-8.2,4.6l-4,2.2c-0.1,0-0.1,0.1-0.2,0.1&#xA;&#9;&#9;c-1.5,0.4-2.6,1.8-2.6,3.4v0.4c0,1.3,0.7,2.5,1.9,3.1l9.1,4.9c1.3,0.7,2.8,0.5,3.9-0.5l63.1-36.2l0.8-0.5c1.1-1.1,3-1.4,4.1-3.6&#xA;&#9;&#9;C322.1,361.3,322,361.1,322,360.9z" style="fill: rgb(104, 225, 253);"/>
                        <path class="st14_under-constructions-65" d="M254.4,401.6l67.2-38.6c0.5-0.3,0.8-1,0.7-1.6c-0.2-0.7-0.5-1.4-0.9-2c-0.6-0.8-1.4-1.5-2.2-2.1l-66,39&#xA;&#9;&#9;c0.9,0.8,1.4,1.8,1.6,2.9c0.1,0.7,0,1.4-0.4,1.9C254.4,401.4,254.4,401.5,254.4,401.6z"/>
                    </g>
                    <g id="Warning_Icon_under-constructions-65">
                        <path class="st4_under-constructions-65" d="M282.2,161.7l-38.9,33.8c-3,2.6-3.3,7-0.7,10c0.6,0.7,1.4,1.3,2.2,1.7l44.8,22.3c3.5,1.7,7.8,0.3,9.5-3.2&#xA;&#9;&#9;c0.6-1.2,0.8-2.6,0.7-3.9l-5.9-56.1c-0.4-3.9-3.9-6.7-7.8-6.3C284.6,160.2,283.3,160.7,282.2,161.7z"/>
                        <path class="st10_under-constructions-65" d="M280.2,174.6c-1.7,6.9-3.4,13.7-5.2,20.6c-1,3.8,4.9,5.4,5.8,1.6c1.7-6.8,3.4-13.7,5.2-20.6&#xA;&#9;&#9;C287,172.5,281.2,170.9,280.2,174.6z"/>
                        <path class="st10_under-constructions-65" d="M271.2,209.4v0.6c0,3.9,6,3.9,6,0v-0.6C277.3,205.5,271.2,205.5,271.2,209.4z"/>
                    </g>
                    </svg>
                </div>
                <p class="text-center fs-2 lead">This isn't working properly. We're sorry!</p>
                <p class="text-center lead">Please try again later.</p>
                <p class="text-center">
                    <a class="btn btn-lg btn-outline-primary" href="{{ path('app_index_index') }}">Go back home</a>
                </p>
            </div>
        </div>
    </body>
</html>

