{% extends 'base.html.twig' %}
{% set page_title = 'About Habitat' %}

{% block outer_body %}
    <div class="col-12 text-center">
        <div class="pt-5">
            <img src="/build/images/habitat_icon.svg" width="100" height="100" alt="Habitat">
        </div>
        <h1 class="display-2 pt-3 pb-5">About Habitat</h1>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <!-- Illustration by manypixels.co -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve" data-imageid="navigation-82" imageName="Navigation" class="illustrations_image">
                <style type="text/css">
                    .st0_navigation-82{fill:#96CF40;}
                    .st1_navigation-82{fill:#F8E6D2;}
                    .st2_navigation-82{opacity:0.46;fill:#8EC62C;enable-background:new;}
                    .st3_navigation-82{fill:#F15A24;}
                    .st4_navigation-82{fill:#333333;}
                    .st5_navigation-82{fill:#FFC4B0;}
                    .st6_navigation-82{fill:#5780F6;}
                    .st7_navigation-82{fill:#606060;}
                    .st8_navigation-82{fill:#68E1FD;}
                    .st9_navigation-82{opacity:0.1;fill:#333333;enable-background:new;}
                    .st10_navigation-82{fill:#FFFFFF;}
                </style>
                <g id="Base_navigation-82">
                    <path class="st0_navigation-82" d="M113.9,356.4c0.2-0.6,0.5-1.2,0.7-1.8c0.5-1.2,0.9-2.4,1.3-3.6c1.5-4.3,2.8-8.6,3.9-13c1.2-4.4,2-8.8,2.5-13.3&#xA;&#9;&#9;c0,0.3-0.3,2-0.1,0.8l0.1-0.9c0.1-0.5,0.1-1,0.2-1.4c0.1-1.1,0.2-2.2,0.3-3.3c0.2-2.2,0.3-4.4,0.4-6.6c0.1-4.5,0.1-9-0.2-13.6&#xA;&#9;&#9;c-0.1-2.2-0.3-4.4-0.6-6.6c0-0.5-0.1-0.9-0.2-1.4v-0.4c-0.2-1.1-0.3-2.2-0.5-3.3c-0.7-4-1.5-8-2.6-11.9l-58,33.5&#xA;&#9;&#9;c-5.1,3-6.9,9.6-3.9,14.7c0.9,1.6,2.3,3,3.9,3.9l52,30.1l0.7-1.5L113.9,356.4z"/>
                    <path class="st0_navigation-82" d="M240.2,260.7l9.7,5.6c1.7,1,3.4,2,5.2,3l0.6,0.3l0,0l2-1.1l4.6-2.6c3.1-1.8,6.2-3.6,9.4-5.4&#xA;&#9;&#9;c6.3-3.7,12.6-7.4,18.9-11.2c20-12,39.8-24.5,59.3-37.5l-49.5-28.5c-6.5-3.8-14.5-3.8-21,0l-86.5,50.1l27.8,16L240.2,260.7z"/>
                    <path class="st0_navigation-82" d="M259.2,375.7c-1,0.1-1.9,0-2.8-0.3c-9.1-3-18.1-6-27.2-9c-30.7-10.3-61.2-21.2-91.5-32.5&#xA;&#9;&#9;c-2,11.3-5.3,22.3-10.1,32.8l86.4,50c7,4,15.5,4,22.5,0l26.3-15.3c-1.1-7.4-2.2-14.8-3.2-22.1C259.5,378,259.4,376.9,259.2,375.7z"/>
                    <path class="st0_navigation-82" d="M139.7,316.9c8.4,3.2,16.9,6.3,25.4,9.4c30.5,11.1,61.1,21.7,91.9,31.8c-3-24.2-5.3-48.5-7.1-72.9&#xA;&#9;&#9;c-0.6-0.2-1.1-0.5-1.7-0.8c-3.4-1.6-6.5-3.6-9.8-5.5l-10.2-5.9l-19.9-11.4L176,243.1l-42.1,24.4c0.7,2.1,1.3,4.2,1.8,6.3&#xA;&#9;&#9;C139.2,287.9,140.5,302.4,139.7,316.9z"/>
                    <path class="st0_navigation-82" d="M453.5,271.5l-87.7-50.5c-11.7,7.8-23.5,15.5-35.3,23.1c-5.7,3.6-11.5,7.2-17.3,10.8&#xA;&#9;&#9;c5.9,3.6,11.8,7.3,17.7,10.9c26.4,16.4,52.6,33.1,78.6,50.1l44-25.6c5.2-3,7-9.7,4-14.9C456.5,273.9,455.1,272.5,453.5,271.5&#xA;&#9;&#9;L453.5,271.5z"/>
                    <path class="st0_navigation-82" d="M297.2,264.7l-4.5,2.7c-6.4,3.8-12.7,7.5-19.2,11.2c-2.4,1.4-4.7,2.8-7.1,4.1c0.6,8.3,1.3,16.7,2,25&#xA;&#9;&#9;c1.4,16.1,3.1,32.1,5,48.1c0.5,4,1,8,1.5,11.9c0.3,2.1,0.5,4.2,0.8,6.3v0.2l0.2,1.1l0.4,3c0.7,4.7,1.3,9.4,2,14.1l115.1-67&#xA;&#9;&#9;l-3.4-2.2C359.3,303.3,328.4,283.8,297.2,264.7z"/>
                    <path class="st1_navigation-82" d="M313.2,254.9c5.8-3.6,11.6-7.2,17.3-10.8c11.9-7.5,23.6-15.2,35.3-23.1l-16.1-9.2&#xA;&#9;&#9;c-19.5,12.9-39.2,25.4-59.3,37.5c-6.3,3.8-12.6,7.5-18.9,11.2c-3.1,1.8-6.2,3.6-9.4,5.4l-4.6,2.6l-1.9,1.1l0,0l-0.6-0.3&#xA;&#9;&#9;c-1.7-1-3.5-2-5.2-3l-9.7-5.6l-19.7-11.3l-27.8-16l-16.7,9.7l32.2,18.5l19.9,11.4l10.2,5.9c3.2,1.9,6.4,3.9,9.8,5.5&#xA;&#9;&#9;c0.6,0.3,1.1,0.5,1.7,0.8c1.8,24.4,4.2,48.7,7.1,72.9c-30.8-10.1-61.5-20.7-91.9-31.8c-8.5-3.1-16.9-6.2-25.4-9.4&#xA;&#9;&#9;c0.9-14.5-0.5-29-4-43.1c-0.5-2.1-1.1-4.2-1.8-6.3l-14.9,8.6c1,3.9,1.8,7.8,2.5,11.8c0.2,1.1,0.4,2.2,0.5,3.3v0.4&#xA;&#9;&#9;c0,0.5,0.1,0.9,0.2,1.4c0.3,2.2,0.5,4.4,0.6,6.6c0.3,4.5,0.4,9,0.2,13.6c-0.1,2.2-0.2,4.4-0.4,6.6c-0.1,1.1-0.2,2.2-0.3,3.3&#xA;&#9;&#9;c0,0.5-0.1,0.9-0.2,1.4l-0.1,1c-0.1,1.2,0.1-0.5,0.1-0.8c-0.5,4.5-1.3,8.9-2.5,13.3c-1.1,4.4-2.4,8.7-3.9,13&#xA;&#9;&#9;c-0.4,1.2-0.9,2.4-1.3,3.6c-0.2,0.6-0.5,1.2-0.7,1.8l-0.2,0.4l-0.5,1.5l14.5,8.4c4.7-10.5,8.1-21.5,10.1-32.8&#xA;&#9;&#9;c30.3,11.3,60.8,22.2,91.5,32.5c9,3,18.1,6,27.2,9c0.9,0.3,1.9,0.4,2.8,0.3c0.1,1.1,0.3,2.3,0.5,3.4c1,7.4,2.1,14.8,3.2,22.2&#xA;&#9;&#9;l15.4-9c-0.7-4.7-1.3-9.4-2-14.1l-0.4-3l-0.2-1.1V374c-0.3-2.1-0.5-4.2-0.8-6.3c-0.5-4-1-7.9-1.5-11.9c-1.9-16-3.6-32-5-48.1&#xA;&#9;&#9;c-0.7-8.3-1.4-16.7-2-25c2.4-1.3,4.8-2.8,7.1-4.1c6.4-3.7,12.8-7.4,19.2-11.2l4.5-2.7c31.2,19.1,62.1,38.6,92.8,58.5l3.4,2.2&#xA;&#9;&#9;l16.2-9.4c-26-17-52.2-33.7-78.6-50.1C325,262.2,319.1,258.6,313.2,254.9z"/>
                </g>
                <g id="Shadow_navigation-82">
                    <ellipse class="st2_navigation-82" cx="133.8" cy="323.9" rx="23.7" ry="4.9"/>
                    <polygon class="st2_navigation-82" points="238.3,283.2 290.5,249.2 339.5,235 348.1,238.7 263.4,297.2 &#9;"/>
                </g>
                <g id="Character_navigation-82">
                    <path class="st3_navigation-82" d="M264,118.4c0.8-0.7,1.8-0.9,2.8-0.6c0.5,0.1,1-0.2,1.1-0.6c0.1-0.5-0.2-1-0.6-1.1l0,0l0,0&#xA;&#9;&#9;c-1.6-0.5-3.3-0.1-4.6,1C262,118,263.2,119.3,264,118.4z"/>
                    <path class="st4_navigation-82" d="M326.3,125c0-0.3,2.7,2.8,3.2,5.7s-0.6,11.3-1.6,12.3s-5.5,2.2-5.5,2.2"/>
                    <path class="st4_navigation-82" d="M306.4,103.5c-1.8,6.5-3.3,13-4.9,19.5c-0.5,1.6-0.7,3.3-0.5,5c0.5,2.1,1.6,4.1,3.2,5.6&#xA;&#9;&#9;c3.6,4.1,7.4,8,11.6,11.6c0.9,0.9,2,1.6,3.3,2c1.2,0.2,2.4,0.1,3.5-0.2c1.6-0.1,2.9-1.4,2.8-3c0-0.1,0-0.2,0-0.3&#xA;&#9;&#9;c0.9-8.3,0.9-16.6,1.1-25c0.1-2.8,0.2-5.7-1-8.3c-1.2-2.5-3.3-4.5-5.9-5.7c-4.3-2-8.5-4-13.4-5"/>
                    <path class="st5_navigation-82" d="M279.6,126.9c-2.3-1.2-3.5-3.6-5.7-5.1l-0.1-0.1h-0.2c-0.8-0.2-1.5,0.2-1.7,1c-0.1,0.3,0,0.7,0.1,1&#xA;&#9;&#9;c0.6,1.1,1.5,1.9,2.6,2.5c0.2,0.3,0.5,0.6,0.9,0.6c1.3,0.3,2.6,0.8,3.8,1.3c0.7,0.4,1.5,0.1,1.9-0.5c0.2-0.3,0.2-0.7,0.1-1.1&#xA;&#9;&#9;C280.9,127.1,280.1,127.2,279.6,126.9z"/>
                    <path class="st5_navigation-82" d="M279.7,131.1L279.7,131.1c-0.8-2-1.5-3.9-2.3-5.9c-0.5-0.5-1-1-1.5-1.6c-0.1,0-0.2,0-0.3,0&#xA;&#9;&#9;c-0.7,0-1.3,0.6-1.3,1.4c0,0.1,0,0.3,0.1,0.4l0.2,0.5c-0.1,0.4-0.1,0.8,0,1.1l1.8,3.8c0.2,0.6,0.5,1.2,0.9,1.8l0.4,0.8&#xA;&#9;&#9;c0.8,1.6,3.2,0.2,2.4-1.4L279.7,131.1z"/>
                    <path class="st6_navigation-82" d="M296.4,103.9l-0.2,0.4c-0.3,0.7-0.8,1.4-1.2,2.1c-0.5,1.7-0.9,3.4-1.4,5.1c-0.9,3.3-0.9,7.1-2.7,10&#xA;&#9;&#9;c-2.2,3.6-7.1,3-10.5,1.7c-0.9-0.3-1.8-0.8-2.7-1.2l0,0c-0.4,4.8-0.4,10,1.5,14.5c4,1.4,8.2,2.1,12.5,1.9&#xA;&#9;&#9;c4.9-0.2,11.6-1.7,13.5-6.9L296.4,103.9z"/>
                    <path class="st4_navigation-82" d="M295.9,113c-0.8,6.5,0,13.5-2.7,19.6c-0.9,2-2,3.8-3.5,5.4l-0.2,0.3c5.8-0.1,8-1,8-1l-0.9-28.8&#xA;&#9;&#9;c-0.2,0.5-0.5,1.7-1,3.4C295.9,112.2,296,112.6,295.9,113z"/>
                    <polygon class="st4_navigation-82" points="262.6,122.7 271.9,135.9 278.8,136.4 269.5,122.3 &#9;"/>
                    <polygon class="st7_navigation-82" points="265.2,120.2 271.7,120.9 281.9,135.1 278.8,136.4 270.5,124.9 262.6,122.7 &#9;"/>
                    <path class="st5_navigation-82" d="M272.3,132.4h-0.5c0.5-0.6,0.4-1.5-0.2-2c-0.2-0.2-0.5-0.3-0.9-0.3h-1.1c0.5-0.5,0.6-1.2,0.2-1.8&#xA;&#9;&#9;c-0.6-0.9-3.1-1-3.6,0c-0.4,0.7-0.2,1.5,0.5,1.9l0.3,0.1c-0.6,0.6-0.6,1.5,0,2.1c0.3,0.3,0.6,0.4,1,0.4h0.2c-0.5,0.6-0.3,1.5,0.3,2&#xA;&#9;&#9;c0,0,0,0,0,0c0.2,0.2,0.6,0.3,0.9,0.2c1,0.1,2,0.1,3,0.1c0.8,0,1.4-0.6,1.4-1.4C273.8,133,273.2,132.4,272.3,132.4&#xA;&#9;&#9;C272.3,132.4,272.3,132.4,272.3,132.4z"/>
                    <path class="st5_navigation-82" d="M288.2,237c0.6,3.7,0.7,7.5,0.3,11.3c-0.1,0.8-0.2,1.7-0.4,2.6l9.6-1.6V237H288.2z"/>
                    <path class="st4_navigation-82" d="M288.2,243.5c-0.6,3.4-2.4,8.1-4.2,9.8c-2.2,2-14.5,8.6-9.4,12.1c3.8,2.6,24.4-7.7,24.9-10.5&#xA;&#9;&#9;c0.4-2-0.7-8.3-1.3-11.6C295.3,245,291.5,244.7,288.2,243.5z"/>
                    <path class="st8_navigation-82 targetColor" d="M300.6,237.5c0.6-10.9,2.1-30.8,2.4-31.8c0.3-1.4,5.7-22.2,5.7-22.2c-1.5-7-2.8-14-3.7-21.1&#xA;&#9;&#9;c-1.7-0.1,2-19.1,0.4-19.5c-3.3-0.7-6.4-5.3-9.5-6.7c-3.2,17.9-13.4,70.5-15.7,98.6C282.5,239.7,293.2,240.5,300.6,237.5z" style="fill: rgb(104, 225, 253);"/>
                    <path class="st5_navigation-82" d="M331.6,221c2.4,2.7,5.1,8.8,6.8,11.9c0.4,0.7,0.8,1.4,1.1,2.1l6.2-5.1l-6.3-14L331.6,221z"/>
                    <path class="st4_navigation-82" d="M343.7,224.6c-1.6,2.6-4.4,4-7.4,3.7c0.3,2.1,1.2,6.2,0.2,7.6c-1.4,2.1-11.5,10.9-6.1,13.1&#xA;&#9;&#9;c3.9,1.6,17.9-10.7,17.7-13.2C347.9,234,344.9,227.4,343.7,224.6z"/>
                    <path class="st8_navigation-82 targetColor" d="M327.3,229c0.1,0.2,0.4,0.3,0.6,0.2c3.3-1.3,6.4-2.9,9.3-4.9c2.9-2.2,4.2-4.7,6.5-7.7l-1.2-2&#xA;&#9;&#9;c-5.5-11.1-16.3-48.1-16.8-50.7c-0.6-3-3.1-30-3.1-30l-24.7-4.5c0,0,0.9,23.6,2.8,44.5c0.9,3.7,2.1,7.3,3.4,10.8&#xA;&#9;&#9;C309.6,199.3,316.7,216.7,327.3,229L327.3,229z" style="fill: rgb(104, 225, 253);"/>
                    <path class="st5_navigation-82" d="M323.2,167.8c-0.1-2.2-0.4-4.4-0.9-6.5c0-2.5-0.2-5-0.6-7.5c-2.7-0.1-5.4-0.1-8.1,0.1c0,1.3,0,2.7-0.1,4&#xA;&#9;&#9;c-0.3,1-0.6,2-0.8,3c-0.2,0.1-0.3,0.3-0.4,0.5c-1.2,2.5-2,5.3-2.4,8.1c0,0.8,0.7,1.4,1.5,1.4c0.5,0,0.9-0.3,1.2-0.7&#xA;&#9;&#9;c0.4-0.9,0.8-1.8,1.2-2.8v3.8c0,0.8,0.7,1.4,1.5,1.4c0.7,0.1,1.4-0.3,1.7-1c0.5,0.6,1.3,0.9,2,0.6c0.6-0.3,1-0.8,1.2-1.4&#xA;&#9;&#9;c0.5,0.3,1.2,0.3,1.7,0C323.1,170.2,323.2,168.9,323.2,167.8z"/>
                    <path class="st6_navigation-82" d="M319.8,111.4c-2.3-5.1-10.9-9-14.2-10.4c-1,0-2.1,0.1-3.1,0.2l-1.3,0.2l-0.9,0.2c-0.5,0.1-0.9,0.3-1.4,0.4&#xA;&#9;&#9;c-0.6,0.3-1.2,0.7-1.9,1.1c-0.1,0.1-0.2,0.1-0.3,0.1c-0.5,0.4-1,0.9-1.4,1.4l-0.1,0.1c-0.3,1.3-0.5,2.7-0.5,4&#xA;&#9;&#9;c-0.1,3.9-0.1,7.9,0.2,11.8c0.3,5.2,0.8,10.4,1.1,15.6l0.5,2.5c5.3,4.3,14.6,5.6,15.4,5.4s0,7.3-0.5,12.5c1.9,0.5,3.8,0.9,5.7,1.1&#xA;&#9;&#9;l0,0c1.4,0.2,2.8,0.3,4.2,0.4h2.5C327.5,136.1,322.8,117.7,319.8,111.4z"/>
                    <path class="st5_navigation-82" d="M302.6,105c0.8,0.5,1.7,0.7,2.7,0.8c3,0.2,4.8-3,5.9-5.3c1.5-2.7,2.3-5.6,2.4-8.7c0-0.5,0-1-0.2-1.5&#xA;&#9;&#9;c-1.1-3.4-13.5-6-14.1,0.8C298.9,95.1,298.6,102.5,302.6,105z"/>
                    <path class="st5_navigation-82" d="M312.2,95.4c-0.9,0-1.7,0.3-2.3,0.9c-0.7,0.6-1.1,1.4-1.2,2.3c-0.1,0.4,0.1,0.7,0.4,0.9&#xA;&#9;&#9;c0.3,0.5,0.9,0.7,1.4,0.4c0,0,0,0,0,0h0.1c0.8-0.5,1.6-1.2,2.1-2C313.3,97,313.4,95.7,312.2,95.4z"/>
                    <path class="st4_navigation-82" d="M316.8,87.1c-0.2-1.5-1.1-2.8-2.3-3.6c-1.4-0.9-3.1-1.2-4.7-0.7c-0.6-1-1.5-1.8-2.6-2.2&#xA;&#9;&#9;c-2.1-0.7-4.3,0-5.7,1.7c-1.8-0.2-3.5,0.3-5,1.2c-1.5,1.1-2.5,2.9-2.6,4.8c0,0.3,0,0.6,0,0.8c-0.1,0.5-0.1,1,0,1.5&#xA;&#9;&#9;c0.5,2.5,2.7,4.3,5.3,4.3c-0.3-1.8,0-5.3,2.1-4.4c0.1,0,0.2,0,0.3,0.1c1.3,0.6,0.2,2.4,2.1,2.7s3-1.2,4.8,0.5s-2.1,3.6,2,6.8&#xA;&#9;&#9;c0,0.2,0,0.4,0.1,0.7c0-0.3,1.6-1.8,1.9-2c0.7-0.8,1.3-1.6,1.9-2.4c1.1-1.3,1.9-2.8,2.5-4.5C317.2,90.6,317.2,88.8,316.8,87.1z"/>
                    <path class="st5_navigation-82" d="M311.8,97.8c0.2-1.2-0.7-1.9-1.7-1.4c-1.4,0.8-2.3,2.3-2.4,4c0,0.3,0.1,0.6,0.3,0.9c0,0.1,0.1,0.2,0.2,0.2&#xA;&#9;&#9;c0.4,0.4,1.1,0.4,1.5,0c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1C310.9,100.5,311.6,99.2,311.8,97.8z"/>
                    <path class="st4_navigation-82" d="M299.6,99.8c-0.2,0-0.5-0.1-0.7-0.2c-2.2-0.9-2.1-4.7-2.1-4.9v-0.6l0.6,0.2c1.7,0.6,3.7,1.3,4,1.4l0.4,0.1v0.4&#xA;&#9;&#9;c0,0.3-0.2,2.7-1.5,3.4C300.1,99.7,299.8,99.8,299.6,99.8z M297.7,95.4c0.1,1.1,0.4,2.9,1.5,3.4c0.2,0.1,0.4,0.1,0.6,0&#xA;&#9;&#9;c0.6-0.6,0.9-1.5,1-2.3C300.1,96.3,298.6,95.7,297.7,95.4z"/>
                    <path class="st4_navigation-82" d="M305.3,101.8c-0.2,0-0.5,0-0.7-0.1c-0.7-0.1-1.4-0.6-1.7-1.2c-0.8-1.5-0.1-3.7-0.1-3.8l0.1-0.4l5,1.7v0.3&#xA;&#9;&#9;c0,1.1-0.4,2.2-1.2,3C306.3,101.6,305.8,101.8,305.3,101.8z M303.5,97.4c-0.3,0.9-0.2,1.8,0.1,2.7c0.2,0.4,0.7,0.7,1.1,0.8&#xA;&#9;&#9;c0.5,0.1,1,0.1,1.4-0.2c0.5-0.5,0.8-1.3,0.8-2L303.5,97.4z"/>
                    <path class="st4_navigation-82" d="M309.4,96.3l-2,1.8c-0.2,0.2,0.1,0.6,0.4,0.4l2-1.8C310.1,96.4,309.7,96.1,309.4,96.3z"/>
                    <path class="st4_navigation-82" d="M301.7,101.2c-0.3,0-0.8-0.1-0.8-0.5c0.1-0.2,0.2-0.5,0.3-0.7c0.2-0.4,0.4-0.9,0.6-1.3c0.1-0.1,0-0.3-0.1-0.4&#xA;&#9;&#9;c-0.1-0.1-0.3,0-0.4,0.1c-0.2,0.4-0.5,0.9-0.6,1.3c-0.2,0.3-0.3,0.7-0.4,1.1c0,0.6,0.9,0.9,1.4,0.9S302,101.3,301.7,101.2z"/>
                    <path class="st4_navigation-82" d="M303.4,96.6c-0.8-0.2-1.5-0.4-2.2-0.6c-0.3-0.1-0.4,0.4-0.1,0.5c0.7,0.2,1.5,0.5,2.2,0.6&#xA;&#9;&#9;C303.6,97.2,303.7,96.6,303.4,96.6z"/>
                    <path class="st4_navigation-82" d="M306.7,191.4c0,0-4.1-14.5-6.5-22l2.1,44C302.3,213.4,304.7,197.1,306.7,191.4z"/>
                    <path class="st4_navigation-82" d="M316.6,107.3c0,0-8,3.7-3.4,27.9c0,0-7.2-12.3-6.8-19.7s3.8-11.8,5.5-12.2S317.5,105.7,316.6,107.3z"/>
                    <path class="st6_navigation-82" d="M294.9,105.4c-1.5,6.1,0,12.3-0.1,15.8c0-3.8,0.4-7.6,1.2-11.3c0.7-2.8,1.7-6.4,4.1-8.2l0,0&#xA;&#9;&#9;C300.2,101.8,295.7,102.4,294.9,105.4z"/>
                    <path class="st3_navigation-82" d="M261.5,116c1.4-2.4,4.2-2.4,6.5-1.3c1,0.6,1.9-1,0.9-1.6c-3.1-1.7-7-1.3-9,1.9c-0.3,0.4-0.1,1,0.3,1.3&#xA;&#9;&#9;S261.3,116.4,261.5,116L261.5,116z"/>
                    <path class="st3_navigation-82" d="M259.1,113.9c0.8-4.1,6.9-4.7,9.7-2.3c0.9,0.8,2.2-0.5,1.3-1.3c-3.7-3.3-11.7-2.5-12.8,3.1&#xA;&#9;&#9;C257.1,114.5,258.9,115,259.1,113.9L259.1,113.9z"/>
                </g>
                <g id="Cloud_navigation-82">
                    <path class="st8_navigation-82 targetColor" d="M445.5,190.1c-5.5-4.3-12.7-5.7-19.4-3.6c-24.8,6.9-25.1,41.7-25.1,41.7s-9-6.6-22.1,2.3&#xA;&#9;&#9;c-16.2,11.1-12.7,39.8-12.7,39.8l5.1,3l94.7-56C466.1,217.3,460,196.1,445.5,190.1z" style="fill: rgb(104, 225, 253);"/>
                    <path class="st9_navigation-82" d="M445.5,190.1c-5.5-4.3-12.7-5.7-19.4-3.6c-24.8,6.9-25.1,41.7-25.1,41.7s-9-6.6-22.1,2.3&#xA;&#9;&#9;c-16.2,11.1-12.7,39.8-12.7,39.8l5.1,3l94.7-56C466.1,217.3,460,196.1,445.5,190.1z"/>
                    <path class="st8_navigation-82 targetColor" d="M371.4,273.4l94.7-56c0,0-10.1-34.8-34.9-27.8s-25.1,41.6-25.1,41.6s-9-6.6-22.1,2.3&#xA;&#9;&#9;C367.9,244.7,371.4,273.4,371.4,273.4z" style="fill: rgb(104, 225, 253);"/>
                    <path class="st8_navigation-82 targetColor" d="M229.9,166.8c-2.2-1.7-5-2.2-7.6-1.4c-9.8,2.7-9.9,16.5-9.9,16.5s-3.5-2.6-8.7,0.9c-6.4,4.4-5,15.7-5,15.7&#xA;&#9;&#9;l2,1.2l37.4-22.1C238,177.6,235.6,169.2,229.9,166.8z" style="fill: rgb(104, 225, 253);"/>
                    <path class="st9_navigation-82" d="M229.9,166.8c-2.2-1.7-5-2.2-7.6-1.4c-9.8,2.7-9.9,16.5-9.9,16.5s-3.5-2.6-8.7,0.9c-6.4,4.4-5,15.7-5,15.7&#xA;&#9;&#9;l2,1.2l37.4-22.1C238,177.6,235.6,169.2,229.9,166.8z"/>
                    <path class="st8_navigation-82 targetColor" d="M200.6,199.6l37.4-22.1c0,0-4-13.7-13.8-11s-9.9,16.5-9.9,16.5s-3.5-2.6-8.7,0.9&#xA;&#9;&#9;C199.2,188.3,200.6,199.6,200.6,199.6z" style="fill: rgb(104, 225, 253);"/>
                    <path class="st8_navigation-82 targetColor" d="M94.9,185.6c-4.2-3.3-9.8-4.3-14.9-2.8c-19,5.3-19.3,32-19.3,32s-6.9-5.1-16.9,1.8&#xA;&#9;&#9;c-12.4,8.5-9.7,30.5-9.7,30.5l3.9,2.3l72.7-43C110.7,206.4,106,190.2,94.9,185.6z" style="fill: rgb(104, 225, 253);"/>
                    <path class="st9_navigation-82" d="M94.9,185.6c-4.2-3.3-9.8-4.3-14.9-2.8c-19,5.3-19.3,32-19.3,32s-6.9-5.1-16.9,1.8&#xA;&#9;&#9;c-12.4,8.5-9.7,30.5-9.7,30.5l3.9,2.3l72.7-43C110.7,206.4,106,190.2,94.9,185.6z"/>
                    <path class="st8_navigation-82 targetColor" d="M38,249.4l72.7-43c0,0-7.7-26.7-26.7-21.3s-19.3,32-19.3,32s-6.9-5.1-17,1.8C35.3,227.4,38,249.4,38,249.4z" style="fill: rgb(104, 225, 253);"/>
                </g>
                <g id="Target_navigation-82">
                    <path class="st3_navigation-82" d="M134.1,325.2c-3.9-4.3-7.6-8.8-11.1-13.4c-6-8.1-12.4-17.2-14.9-27.1c-3.2-12.5-1.7-27.9,9.5-36&#xA;&#9;&#9;c13.2-9.5,35.1-4.4,41.9,10.7c8.8,19.5-4.7,38.1-15.5,53.3C140.8,317.2,137.4,321.3,134.1,325.2z"/>
                    <circle class="st10_navigation-82" cx="134.6" cy="273.4" r="15"/>
                </g>
                </svg>
            </div>
            <div class="col-xs-12 col-md-8 text-md-start align-self-center">
                <h2 class="display-5">What is Habitat?</h2>
                <p class="fs-4 fw-light">
                    Habitat is a free and open-source social platform for people to discover what there is to see and do in their local area.
                </p>
                <p class="fs-4 fw-light">
                    Small communities, such as towns and villages, are able to create their own instances of Habitat to share information about local places of interest.
                </p>
                <p class="fs-4 fw-light">
                    <strong>{{ setting('domain', 'This site') }}</strong> is one such instance.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <!-- Illustration by manypixels.co -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve" data-imageid="map-1-97" imageName="Map 1" class="illustrations_image">
                <style type="text/css">
                    .st0_map-1-97{fill:#C9C9C9;}
                    .st1_map-1-97{fill:#D3894C;}
                    .st2_map-1-97{fill:#FFF3D9;}
                    .st3_map-1-97{fill:#68E1FD;}
                    .st4_map-1-97{opacity:0.1;fill:#653200;enable-background:new;}
                    .st5_map-1-97{opacity:0.28;fill:url(#SVGID_1_);enable-background:new;}
                    .st6_map-1-97{opacity:0.28;fill:url(#SVGID_00000131333195967868286810000017736396589683749561_);enable-background:new;}
                    .st7_map-1-97{opacity:0.28;fill:url(#SVGID_00000129906680124192192820000013049376638816325538_);enable-background:new;}
                    .st8_map-1-97{opacity:0.28;fill:url(#SVGID_00000115488412582640790200000005942817439568209300_);enable-background:new;}
                    .st9_map-1-97{opacity:0.28;fill:url(#SVGID_00000054253726731908746540000006569145167592876475_);enable-background:new;}
                    .st10_map-1-97{opacity:0.48;fill:url(#SVGID_00000005966601488949218140000000011633564933590933_);enable-background:new;}
                    .st11_map-1-97{opacity:0.28;fill:url(#SVGID_00000142158800333525316570000018100845340487486394_);enable-background:new;}
                    .st12_map-1-97{fill:#653200;}
                    .st13_map-1-97{fill:#9CD861;}
                    .st14_map-1-97{fill:#54BA56;}
                    .st15_map-1-97{fill:#C66B28;}
                    .st16_map-1-97{fill:#B3B3B3;}
                    .st17_map-1-97{fill:#CA4050;}
                </style>
                <polyline id="Shadow_map-1-97" class="st0_map-1-97" points="459.4,340.5 279.8,447.5 144.2,373 52.3,320.4 228.8,218.5 "/>
                <g id="Map_map-1-97">
                    <polyline class="st1_map-1-97" points="58.7,159.5 44,221.8 93.4,193.6 &#9;"/>
                    <polygon class="st2_map-1-97" points="459.4,340.5 279.3,443.2 153.7,372.2 58.7,159.5 235.5,53.7 318.6,259.3 &#9;"/>
                    <polygon class="st3_map-1-97 targetColor" points="443,338.1 277.6,432.4 162.3,367.2 73.8,163.2 231.3,72.3 313.7,263.6 &#9;" style="fill: rgb(104, 225, 253);"/>
                    <polygon class="st4_map-1-97" points="231.3,72.3 313.7,263.6 162.3,367.2 73.8,163.2 &#9;"/>
                    <polyline class="st2_map-1-97" points="81.5,156.3 160.7,176.8 197.3,258.6 325,352.7 334.4,400 352.8,389.6 339.6,343.3 207.4,253.1 &#xA;&#9;&#9;169.5,166.2 97.9,149.3 &#9;"/>
                    <path class="st2_map-1-97" d="M174.6,191.7l54.9-130.1l-21,12.6l-43.3,102.4C169,180.7,170.4,188,174.6,191.7z"/>
                    <polyline class="st2_map-1-97" points="375.1,297.9 321.8,333 315,326.5 369,293.6 &#9;"/>
                    <path class="st2_map-1-97" d="M415.5,352.7c0.5,0.8-64.7-38.9-64.7-38.9l-55.4-37.8l10.5-33l1.7,5.3l-8.1,24.9l120.4,78"/>
                    <path class="st2_map-1-97" d="M325,352.7c0,0-68-12.5-86.3,17.1s-5.4,37.6-5.4,37.6l-11.6-6.6c0,0-0.6-35.1,33.3-49.5s63.4-6,63.4-6"/>
                    <polyline class="st2_map-1-97" points="106.7,239.1 174.8,204 280.8,187.2 283.5,193.6 177.2,210.7 109.7,245.9 &#9;"/>
                    <polyline class="st2_map-1-97" points="230.8,282.9 213,335.6 139.3,335.6 146.5,342.2 217.2,342.2 236.9,286.8 &#9;"/>
                </g>
                <g id="Shadow-2_map-1-97">
                    
                        <linearGradient id="SVGID_1_-map-1-97" gradientUnits="userSpaceOnUse" x1="-623.5582" y1="167.6185" x2="-598.4982" y2="183.6485" gradientTransform="matrix(-1 0 0 -1 -426.73 502)">
                        <stop offset="0" style="stop-color:#653200;stop-opacity:0"/>
                        <stop offset="1" style="stop-color:#653200"/>
                    </linearGradient>
                    <path class="st5_map-1-97" d="M183,323.7c8.1,3,19.9,7.3,20.4,7.5l-11.4,7.4l-13.2-9.8C180.5,327.5,182,325.7,183,323.7z"/>
                    
                        <linearGradient id="SVGID_00000031175310300456812760000007170855184264208281_-map-1-97" gradientUnits="userSpaceOnUse" x1="-842.3242" y1="166.7957" x2="-810.9741" y2="189.4057" gradientTransform="matrix(-1 0 0 -1 -426.73 502)">
                        <stop offset="0" style="stop-color:#653200;stop-opacity:0"/>
                        <stop offset="1" style="stop-color:#653200"/>
                    </linearGradient>
                    <path style="opacity:0.28;fill:url(#SVGID_00000031175310300456812760000007170855184264208281_);enable-background:new    ;" d="&#xA;&#9;&#9;M420.9,331.2c-0.7-0.4-28-10.3-28-10.3l-3,3.2l19.6,14.5L420.9,331.2z"/>
                    
                        <linearGradient id="SVGID_00000135680071480213394920000005805474596003635603_-map-1-97" gradientUnits="userSpaceOnUse" x1="-788.8735" y1="198.1355" x2="-764.5335" y2="213.7055" gradientTransform="matrix(-1 0 0 -1 -426.73 502)">
                        <stop offset="0" style="stop-color:#653200;stop-opacity:0"/>
                        <stop offset="1" style="stop-color:#653200"/>
                    </linearGradient>
                    <path style="opacity:0.28;fill:url(#SVGID_00000135680071480213394920000005805474596003635603_);enable-background:new    ;" d="&#xA;&#9;&#9;M347.9,293.6c8.1,3,19.9,7.3,20.4,7.5l-10.4,6.7L345.5,297C347.3,295.6,346.9,295.6,347.9,293.6z"/>
                    
                        <linearGradient id="SVGID_00000098930473445663708180000008125728439101148351_-map-1-97" gradientUnits="userSpaceOnUse" x1="-767.0289" y1="182.2626" x2="-742.6789" y2="197.8326" gradientTransform="matrix(-1 0 0 -1 -426.73 502)">
                        <stop offset="0" style="stop-color:#653200;stop-opacity:0"/>
                        <stop offset="1" style="stop-color:#653200"/>
                    </linearGradient>
                    <path style="opacity:0.28;fill:url(#SVGID_00000098930473445663708180000008125728439101148351_);enable-background:new    ;" d="&#xA;&#9;&#9;M326,309.5c8.1,3,19.9,7.3,20.4,7.5l-10.4,6.7l-12.4-10.8C325.5,311.5,325,311.5,326,309.5z"/>
                    
                        <linearGradient id="SVGID_00000052803279544214355870000000543181248561877951_-map-1-97" gradientUnits="userSpaceOnUse" x1="-769.0818" y1="208.8929" x2="-744.7419" y2="224.4529" gradientTransform="matrix(-1 0 0 -1 -426.73 502)">
                        <stop offset="0" style="stop-color:#653200;stop-opacity:0"/>
                        <stop offset="1" style="stop-color:#653200"/>
                    </linearGradient>
                    <path style="opacity:0.28;fill:url(#SVGID_00000052803279544214355870000000543181248561877951_);enable-background:new    ;" d="&#xA;&#9;&#9;M328.1,282.8c8.1,3,19.9,7.3,20.4,7.5l-10.4,6.7l-12.4-10.8C327.5,284.8,327.1,284.8,328.1,282.8z"/>
                    
                        <linearGradient id="SVGID_00000041993763565374754000000007561645637272684970_-map-1-97" gradientUnits="userSpaceOnUse" x1="197.3554" y1="110.6764" x2="232.9754" y2="164.0964" gradientTransform="matrix(1 0 0 -1 0 502)">
                        <stop offset="1.000000e-02" style="stop-color:#FFF3D9;stop-opacity:0"/>
                        <stop offset="1" style="stop-color:#B3B3B3"/>
                    </linearGradient>
                    
                        <polygon style="opacity:0.48;fill:url(#SVGID_00000041993763565374754000000007561645637272684970_);enable-background:new    ;" points="&#xA;&#9;&#9;276.4,342.4 241.6,330.4 160.4,377.2 215.9,409 &#9;"/>
                    
                        <linearGradient id="SVGID_00000106121764441196385440000003450304985151966389_-map-1-97" gradientUnits="userSpaceOnUse" x1="-720.8043" y1="103.631" x2="-700.8643" y2="116.171" gradientTransform="matrix(-1 0 0 -1 -426.73 502)">
                        <stop offset="0" style="stop-color:#653200;stop-opacity:0"/>
                        <stop offset="1" style="stop-color:#653200"/>
                    </linearGradient>
                    <path style="opacity:0.28;fill:url(#SVGID_00000106121764441196385440000003450304985151966389_);enable-background:new    ;" d="&#xA;&#9;&#9;M304,395c-1.2-0.6-30.6-11-30.6-11l-3.7,6l22.5,16.8L304,395z"/>
                </g>
                <g id="Trees_2_map-1-97">
                    <path class="st12_map-1-97" d="M279.5,401.4h-1.4c-0.8,0-1.4-0.6-1.4-1.4v-24.5c0-0.8,0.6-1.4,1.4-1.4h1.4c0.8,0,1.4,0.6,1.4,1.4V400&#xA;&#9;&#9;C280.9,400.8,280.3,401.4,279.5,401.4z"/>
                    <path class="st13_map-1-97" d="M268.7,379.8c1-4.1,5.1-22.2,12.6-16.9c3.8,2.7,4.9,7,6.4,11.1c1.4,3.4,2.2,7.1,2.4,10.8&#xA;&#9;&#9;c0.1,7.5-7.5,8.4-13.4,8.4c-3.4,0-8.2-2-9-5.7c-0.5-2.2,0.3-4.8,0.8-7L268.7,379.8z"/>
                    <path class="st14_map-1-97" d="M268.3,380.6l0.2-0.8c0.8-3.6,4.2-18.2,10.1-17.8c-1.8,7.7-4.4,15.8-3,23.6c0.4,2.7,1.5,5.3,3.1,7.6&#xA;&#9;&#9;c-0.8,0-1.6,0-2.3,0c-3.4,0-8.2-2-9-5.7C267,385.3,267.9,382.7,268.3,380.6z"/>
                    <path class="st12_map-1-97" d="M269.1,414.4h-1c-0.5,0-1-0.4-1-1v-17c0-0.5,0.4-1,1-1h1c0.5,0,1,0.4,1,1v17C270,414,269.6,414.4,269.1,414.4&#xA;&#9;&#9;z"/>
                    <path class="st13_map-1-97" d="M261.5,399.3c0.7-2.9,3.6-15.5,8.8-11.8c2.7,1.9,3.4,4.9,4.5,7.8c1,2.4,1.5,4.9,1.6,7.5&#xA;&#9;&#9;c0.1,5.2-5.2,5.9-9.3,5.9c-2.4,0-5.7-1.4-6.3-4c-0.3-1.5,0.2-3.4,0.6-4.9L261.5,399.3z"/>
                    <path class="st14_map-1-97" d="M261.3,399.9l0.1-0.6c0.6-2.5,2.9-12.7,7.1-12.4c-1.2,5.4-3,11-2.1,16.5c0.3,1.9,1.1,3.7,2.2,5.3H267&#xA;&#9;&#9;c-2.4,0-5.7-1.4-6.3-4C260.4,403.2,260.9,401.4,261.3,399.9z"/>
                    <path class="st12_map-1-97" d="M293.3,414.4H292c-0.7,0-1.3-0.6-1.3-1.3v-23.4c0-0.7,0.6-1.3,1.3-1.3h1.3c0.7,0,1.3,0.6,1.3,1.3v23.4&#xA;&#9;&#9;C294.6,413.8,294,414.4,293.3,414.4z"/>
                    <path class="st13_map-1-97" d="M283,393.7c0.9-3.9,4.9-21.2,12-16.1c3.6,2.6,4.7,6.7,6.1,10.6c1.3,3.3,2.1,6.8,2.3,10.3&#xA;&#9;&#9;c0.1,7.2-7.2,8.1-12.8,8c-3.2,0-7.8-1.9-8.6-5.4c-0.5-2.1,0.3-4.6,0.8-6.7L283,393.7z"/>
                    <path class="st14_map-1-97" d="M282.6,394.5l0.2-0.8c0.8-3.5,4-17.4,9.7-17c-1.7,7.3-4.2,15.1-2.8,22.6c0.4,2.6,1.5,5.1,3,7.3&#xA;&#9;&#9;c-0.8,0-1.5,0-2.2,0c-3.2,0-7.8-1.9-8.6-5.4C281.4,399,282.2,396.5,282.6,394.5z"/>
                </g>
                <g id="Sign_map-1-97">
                    <path class="st1_map-1-97" d="M178.9,329.3l-0.1-0.2v-52h6.8v52.1C183.6,330.7,180.9,330.7,178.9,329.3z"/>
                    <polygon class="st1_map-1-97" points="182.1,295 193.4,301.8 197.3,299.5 195.7,294.5 184.8,288.1 &#9;"/>
                    <polygon class="st15_map-1-97" points="184.8,289.4 194.7,295.3 196.4,300 193.4,301.8 185,296.7 &#9;"/>
                    <polyline class="st1_map-1-97" points="181.4,283.6 172,278.7 167.7,281.3 172,285.8 178.5,287.2 &#9;"/>
                    <path class="st15_map-1-97" d="M178.9,329.3l-0.1-0.2v-52h3.1v53.1C180.7,330.2,179.7,329.9,178.9,329.3z"/>
                    <polyline class="st15_map-1-97" points="181.8,285.5 170.1,279.6 167.7,281.3 168.6,284.9 180,291.3 &#9;"/>
                    <ellipse class="st1_map-1-97" cx="182.1" cy="277.2" rx="3.4" ry="1.7"/>
                </g>
                <g id="Roadside_Sign_map-1-97">
                    <ellipse class="st16_map-1-97" cx="391.7" cy="323" rx="10.8" ry="4.9"/>
                    <path class="st0_map-1-97" d="M389.8,324l-0.1-0.2v-52h4.1v52.1c-0.7,1.1-2.3,1.4-3.4,0.7C390.2,324.5,389.9,324.2,389.8,324z"/>
                    <path class="st16_map-1-97" d="M389.8,324l-0.1-0.2v-52h1.8V325C390.8,324.9,390.2,324.5,389.8,324z"/>
                    <ellipse class="st2_map-1-97" cx="391.7" cy="271.8" rx="2.1" ry="1.7"/>
                    
                        <ellipse transform="matrix(0.9734 -0.2292 0.2292 0.9734 -52.2046 96.9904)" class="st17_map-1-97" cx="391.4" cy="273.2" rx="12" ry="13.6"/>
                    
                        <ellipse transform="matrix(0.9734 -0.2292 0.2292 0.9734 -52.2505 96.9112)" class="st2_map-1-97" cx="391.1" cy="273.4" rx="9.9" ry="11.3"/>
                    <path class="st17_map-1-97" d="M385.5,263l11.8,19.6c0,0-1.8,4.8-2.7,2.7s-11.9-20.2-11.9-20.2L385.5,263z"/>
                </g>
                <g id="Trees_1_map-1-97">
                    <path class="st12_map-1-97" d="M326.1,313.9h-1.6c-0.9,0-1.6-0.7-1.6-1.6v-10.4c0-0.9,0.7-1.6,1.6-1.6h1.6c0.9,0,1.6,0.7,1.6,1.6v10.4&#xA;&#9;&#9;C327.7,313.2,327,313.9,326.1,313.9z"/>
                    <circle class="st13_map-1-97" cx="325.3" cy="300.3" r="9.1"/>
                    <path class="st14_map-1-97" d="M325.3,291.2c0.5,0,1,0,1.5,0.1c-3.8,2.1-5.9,6.3-5.3,10.6c0.4,3.3,2.6,6.1,5.8,7.3c-0.6,0.1-1.3,0.2-2,0.2&#xA;&#9;&#9;c-5-0.2-9-4.4-8.8-9.4C316.7,295.3,320.5,291.4,325.3,291.2L325.3,291.2z"/>
                    <path class="st12_map-1-97" d="M349.6,298.4h-2.2c-1,0-1.9-0.8-1.9-1.9v-13.2c0-1,0.8-1.9,1.9-1.9h2.2c1,0,1.9,0.8,1.9,1.9v13.2&#xA;&#9;&#9;C351.5,297.6,350.6,298.4,349.6,298.4z"/>
                    <circle class="st13_map-1-97" cx="348.5" cy="281.5" r="11.4"/>
                    <path class="st14_map-1-97" d="M348.5,270.1c0.6,0,1.3,0.1,1.9,0.2c-4.7,2.6-7.4,7.9-6.7,13.2c0.5,4.1,3.3,7.6,7.2,9.1&#xA;&#9;&#9;c-6.1,1.4-12.2-2.5-13.6-8.7c-1.4-6.1,2.5-12.2,8.7-13.6C346.8,270.2,347.6,270.1,348.5,270.1z"/>
                    <path class="st12_map-1-97" d="M328.1,286.8h-1.6c-0.9,0-1.6-0.7-1.6-1.6v-10.4c0-0.9,0.7-1.6,1.6-1.6h1.6c0.9,0,1.6,0.7,1.6,1.6v10.4&#xA;&#9;&#9;C329.6,286.1,328.9,286.8,328.1,286.8z"/>
                    <circle class="st13_map-1-97" cx="327.3" cy="273.3" r="9.1"/>
                    <path class="st14_map-1-97" d="M327.3,264.2c0.5,0,1,0,1.5,0.1c-3.8,2.1-5.9,6.3-5.4,10.6c0.4,3.3,2.6,6.1,5.8,7.3c-0.6,0.1-1.3,0.2-1.9,0.2&#xA;&#9;&#9;c-5,0.2-9.2-3.8-9.4-8.8c-0.2-5,3.8-9.2,8.8-9.4C326.9,264.2,327.1,264.2,327.3,264.2z"/>
                </g>
                <g id="Character_map-1-97">
                    <path class="st12_map-1-97" d="M276.5,316.9c0.4,1.8-0.2,25.4-1.2,29.9s-7.9,3.8-9.9,3.3s-5.9-3.1-8.5-3.6s-16.6-5.6-15.6-9.4s4.1-7,7.4-6.7&#xA;&#9;&#9;s12,2.4,12,2.4l2.6-21.1"/>
                    <path class="st1_map-1-97" d="M226.7,141.3c0.3-0.8,0-1.7-0.7-2.2c-2.6-1.8-4.9-3.9-7.1-6.2c0-0.5,0-0.9,0-1.4c0.3-3.7,0.7-7.3,1.1-10.9&#xA;&#9;&#9;c0.1-1.4-1.2-2-2.2-1.6l0.1-2.3c0-1-0.8-1.7-1.7-1.8c-0.4,0-0.7,0.1-1,0.3c0-0.5,0-1.1,0.1-1.6c0.2-2.3-3.4-2.3-3.6,0&#xA;&#9;&#9;c-0.2,2.8-0.3,5.7-0.5,8.6c-0.1-2.1-0.2-4.3-0.2-6.4c0-2.3-3.6-2.3-3.6,0c0.1,5.4,0.4,10.9,0.8,16.3c-1.2-2.1-1-4.3-1.4-6.8&#xA;&#9;&#9;c-0.3-2.2-3.9-2.3-3.6,0c0.4,3.4,0.2,6.4,2.3,9.3c1.1,1.5,2.4,3,3.8,4.2c0.1,0.1,0.2,0.3,0.3,0.4c3.2,3,6.6,5.6,10.3,7.9&#xA;&#9;&#9;c1.6,1,3-0.8,2.5-2.2c0.1-0.2,0.1-0.4,0.1-0.6c0.1-0.1,0.1-0.1,0.2-0.2c0.4-0.1,0.8-0.3,1.1-0.6l0.3,0.3&#xA;&#9;&#9;C225.9,145.3,228.4,142.8,226.7,141.3z"/>
                    <path class="st14_map-1-97" d="M265.5,146.5c-8-1.4-17.2-3.1-20.2-4.2c-5.7-2-23.4-15-23.4-15s-9.6,10.4-9.6,17s28.3,22.3,36.6,23.6&#xA;&#9;&#9;c2.9,0.5,8.5,2,14.4,3.5C264.8,163.2,265.5,154.9,265.5,146.5z"/>
                    <path class="st15_map-1-97" d="M274.7,208.5c0-0.4,3.6,17.3,3.9,32c0.2,11.1,3.6,93.7,3.6,93.7s-9.4,5.5-27.1,0.4&#xA;&#9;&#9;c-2.6-0.7-5.8-76.5-5.8-76.5l6.1-39.1"/>
                    <path class="st1_map-1-97" d="M196.6,190.6c0.2-0.8-0.2-1.6-1-1.8c-0.1,0-0.2,0-0.3-0.1l-7.1-1c-1.6-1-3.4-2.2-5-3.4&#xA;&#9;&#9;c-0.2-2.3-0.2-4.6-0.1-6.8c0.1-2.4-3.7-2.4-3.8,0c0,0.8,0,1.6,0,2.4c-1.1-2.4-1.2-5.8-1.6-8.1c-0.4-1.9-2.8-1.6-3.5-0.2&#xA;&#9;&#9;c-0.2-0.7-0.3-1.4-0.5-2.2c-0.5-2.4-4.1-1.4-3.7,1c0.2,0.9,0.4,1.7,0.6,2.6c-1.2-1-3.6-0.1-3.1,1.9c0.3,1.1,0.7,2.2,1.1,3.2&#xA;&#9;&#9;c-1.3-0.4-3,0.5-2.4,2.2c1.5,4.4,2.9,9.9,6.9,12.8c5,3.6,11.9,4.3,17.8,5.1c1.2,0.1,2.2-0.7,2.4-1.9c0-0.1,0-0.3,0-0.4&#xA;&#9;&#9;c0.3,0.1,0.6,0.1,0.9,0.2c2.1,0.3,3.2-2.4,1.8-3.4C196.5,192.1,196.8,191.4,196.6,190.6z"/>
                    <path class="st13_map-1-97" d="M243.2,166.3c0,0-25.2,12.6-31.1,14.2s-27.8,1.2-27.8,1.2s-1.8,14,1.9,19.4s36,1.8,43.5-1.9&#xA;&#9;&#9;s35.9-12.4,34.6-16.5S243.2,166.3,243.2,166.3z"/>
                    <path class="st12_map-1-97" d="M238.4,351.3c0.4,1.8-0.2,25.4-1.2,29.9s-7.9,3.8-9.9,3.3s-5.9-3.1-8.5-3.6s-16.6-5.6-15.6-9.4s4.1-7,7.4-6.7&#xA;&#9;&#9;s12,2.4,12,2.4l2.6-21.1"/>
                    <path class="st15_map-1-97" d="M239.9,216.5c0,0-11.3,41.8-16,79.3c-1.1,9-10.4,62.6-10.4,62.6s15.3,5.6,29,1.2c0,0,16.2-68.4,16.9-69.7&#xA;&#9;&#9;s3.2-42.4,4.5-74.2"/>
                    <path class="st13_map-1-97" d="M264.3,157.9l-6.7-1.6c-1.6,0.3-15.6,7-20.9,17.6c-0.5,3.2-0.8,6.3-0.9,9.5c-0.3,4.3-0.5,8.6-0.4,12.8&#xA;&#9;&#9;c0,4.7,0.4,9.3,1.1,13.9c0.3,2,0.5,3,1,4.9c0.8,0.6,1.7,1.1,2.7,1.4c20.3,5.7,34.1-6.4,34.6-8c0.5-1.8,0-24.6-0.3-38.2&#xA;&#9;&#9;C274.3,164.3,270.1,159.2,264.3,157.9z"/>
                    <path class="st1_map-1-97" d="M245.3,135.4c0,0-3.1,22.6,5.3,24.6c8.4,2,17.5-8,18-12.7S256.4,127.2,245.3,135.4z"/>
                    <path class="st12_map-1-97" d="M274.5,139.5c0-3.5-1.5-6.8-3.1-9.9c-2.6-4.7-8.1-6.3-12.9-7.2c-2.1-0.4-4.2-0.2-6.2,0.5&#xA;&#9;&#9;c-1.6-2-5.3-2.4-7.1-0.5c-1.2,1.2-1.5,3-0.8,4.6c-2.1,0.2-3.7,1.8-3.8,3.9c-0.4,2.4,0.3,4.9,2.1,6.1c-1.3,1.3-1.4,3.4-0.2,4.9&#xA;&#9;&#9;c2.1,2.7,6.4,2.3,9.5,2.5c0.2,0,0.5,0,0.7-0.1c0.3,0.2,0.5,0.3,0.8,0.4c0.2,0.1,0.3,0.1,0.5,0.2c0,0.1,0,0.1,0,0.2&#xA;&#9;&#9;c0.5,1.9-0.7,3.4,0.6,5.2c0.4,0.6,1.1,1.1,1.8,1.4c0.2,0.1,0.8,0.1,0.9,0.3c0.8,0.8,0.2,2.3-0.2,3.1c-0.4,0.7-0.2,1.5,0.5,1.9&#xA;&#9;&#9;c0,0,0.1,0,0.1,0.1c0.1,0.2,0.2,0.4,0.4,0.5c0.2,0.5,0.7,0.9,1.3,0.8c2.2-0.4,4.2-1.4,5.7-3c0.9-0.6,1.7-1.3,2.5-2&#xA;&#9;&#9;c2.8-3.2,5.7-6.7,6.7-10.9C274.4,141.5,274.5,140.5,274.5,139.5z"/>
                    <path class="st12_map-1-97" d="M262.9,242c-5.4,39.3-12.7,78.4-22,117c-0.4,1.9,2.5,2.7,2.9,0.8c9.3-38.6,16.6-77.6,22-117&#xA;&#9;&#9;C266.1,240.9,263.1,240.1,262.9,242z"/>
                    <polygon class="st14_map-1-97" points="235.3,196.3 246.5,191.7 237.4,215.1 &#9;"/>
                </g>
                </svg>
            </div>
            <div class="col-xs-12 col-md-8 text-md-end align-self-center order-md-first">
                <h2 class="display-5">Who runs Habitat?</h2>
                <p class="fs-4 fw-light">
                    Each Habitat community operates independently, with its own dedicated administrator overseeing the instance.
                </p>
                <p class="fs-4 fw-light">
                    This particular instance is managed by <strong>{{ admin.username }}</strong>.
                </p>
                <p class="fs-4 fw-light">
                    If you're interested in fostering community engagement in your area, you can also set up your own Habitat instance.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="https://github.com/carlnewton/habitat" class="btn btn-lg btn-primary">Find out more</a>
            </div>
        </div>
    </div>
{% endblock %}
