{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="visually-hidden">Latest posts</h1>
    <div id="posts-list">
        {% for post in posts %}
            {% include '/partials/post/post.html.twig' %}
        {% endfor %}
        <div class="d-flex justify-content-center htmx-indicator" id="post-spinner">
            <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.user %}
        {{ encore_entry_script_tags('heart') }}
    {% endif %}
{% endblock %}
