<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Habitat</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Habitat</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Let's create your admin account then!</p>
                <form class="text-start">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="username" placeholder="Admin">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="col">
                            <p>
                                Your username will be publicly visible. You are recommended to choose a nickname.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" placeholder="Admin">
                                <label for="email">Email address</label>
                            </div>
                        </div>
                        <div class="col">
                            <p>
                                Your email address will be kept private, and can be used to recover your password.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="col">
                            <p>
                                Your password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter
                            </p>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg">Let's go!</button>
                </form>
            </div>
        </div>
    </body>
</html>
